Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

Split Branch, Removing reference to non-existent resource
  docs/resources/graph_beta_device_management_ios_device_configuration_templates_json.md
Due: none

Cleaning comments
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_docs/create_req.md
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_device_features_home_screen.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_general_minimal.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_general_minimal_updated.tf
Due: unittests, acceptancetests

fix: read Android compliance scheduled actions
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_read_test.go
Due: unittests, acceptancetests

feat: add Windows trusted root certificate resource (#3858)
  docs/resources/graph_beta_device_management_windows_trusted_root_certificate.md
  examples/resources/microsoft365_graph_beta_device_management_windows_trusted_root_certificate/import.sh
  examples/resources/microsoft365_graph_beta_device_management_windows_trusted_root_certificate/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/construct_resource.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/crud.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/model.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/state.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/terraform/acceptance/resource.tf
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/terraform/unit/resource.tf
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/test-root.cer
  templates/resources/graph_beta_device_management_windows_trusted_root_certificate.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: update Graph API permissions via automated pipeline
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource.go
Due: unittests, acceptancetests

feat: add B2B management policy and assignment resources
  docs/resources/graph_beta_identity_and_access_b2b_management_policy.md
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/responses/validate_create/post_b2b_management_policy_success.json
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_02_updated.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_invalid_definition.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_minimal_updated.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/model.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/predicate.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/requests.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_application.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_service_principal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_user.tf
  templates/resources/graph_beta_identity_and_access_b2b_management_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: verify least-privilege permissions and harden B2B policy reads
  docs/resources/graph_beta_identity_and_access_b2b_management_policy.md
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/requests.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/responses/validate_read/get_applies_to_truncated_without_application_read.txt
  templates/resources/graph_beta_identity_and_access_b2b_management_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: unittests, acceptancetests

fix: address review findings
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/export_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/export_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/requests.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test_helper.go
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: unittests, acceptancetests

fix: replace B2B management policy when is_organization_default changes
  docs/resources/graph_beta_identity_and_access_b2b_management_policy.md
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/export_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_minimal_organization_default.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/export_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/model.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/predicate.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/read.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/requests.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test.go
  templates/resources/graph_beta_identity_and_access_b2b_management_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: unittests, acceptancetests

docs: document organization default switching behavior
  docs/resources/graph_beta_identity_and_access_b2b_management_policy.md
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  templates/resources/graph_beta_identity_and_access_b2b_management_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: none

deps: bump
  go.mod
  go.sum
Due: none

test: verify template JSON assignments and cleartext XML lifecycles
  docs/resources/graph_beta_device_management_device_configuration_templates_json.md
  internal/services/common/constructors/graph_beta/device_management/device_configuration_settings.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/crud.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/resource.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/resource_docs/api_contract.md
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/resource_test.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/state_settings.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/responses/validate_get/get_device_configuration_unencrypted_xml.json
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_28_plaintext_stringxml_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_61_assignment_dependencies.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_61_assignments_minimal_to_maximal.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_61_assignments_minimal_to_maximal_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_62_assignments_maximal_to_minimal.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_62_assignments_maximal_to_minimal_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_63_mixed_oma.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/acceptance/resource_63_mixed_oma_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_28_plaintext_stringxml.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_28_plaintext_stringxml_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_61_assignments_minimal_to_maximal.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_61_assignments_minimal_to_maximal_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_62_assignments_maximal_to_minimal.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_62_assignments_maximal_to_minimal_updated.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_63_mixed_oma.tf
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/tests/terraform/unit/resource_63_mixed_oma_updated.tf
Due: unittests, acceptancetests

ci: serialize PR unit tests and propagate failures
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/lib/go_tests.py
  scripts/pipeline/pr/tests/test_go_tests.py
Due: none

docs: fix contribution page issues link
  CONTRIBUTING.md
Due: none

docs: fix contribution page issues link (#4034)
  CONTRIBUTING.md
Due: none

test: use RFC 2606 reserved domains in B2B management policy fixtures
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_02_updated.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_minimal_updated.tf
Due: none

chore: align Microsoft Graph SDK with main
  go.mod
  go.sum
Due: none

test: expand B2B policy and assignment tenant coverage
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_20_allow_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_21_block_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_22_any_domain.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_23_expanded_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_24_other_settings.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_25_formatted_json.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/acceptance/resource_26_renamed.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_20_allow_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_21_block_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_22_any_domain.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_23_expanded_domains.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_24_other_settings.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_25_formatted_json.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy/tests/terraform/unit/resource_26_renamed.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/acceptance/resource_01_service_principal.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/acceptance/resource_02_application.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/acceptance/resource_03_both_targets.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_11_both_targets.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_13_policy_replacement.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_14_target_application.tf
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/tests/terraform/unit/resource_14_target_service_principal.tf
Due: none

docs: add distinct B2B policy and assignment examples
  docs/resources/graph_beta_identity_and_access_b2b_management_policy.md
  docs/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_allow_domains.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_any_domain.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_block_domains.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_heredoc.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_organization_default.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy/resource_other_settings.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource_application.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource_both_targets.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_b2b_management_policy_assignment/resource_service_principal.tf
  templates/resources/graph_beta_identity_and_access_b2b_management_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: none

feat: support base64 client certificate authentication
  examples/provider/provider.tf
  internal/client/client_credential_factory.go
  internal/client/client_credential_factory_test.go
  internal/client/model.go
  internal/provider/configure_clients.go
  internal/provider/configure_clients_test.go
  internal/provider/log_configuration.go
  internal/provider/log_configuration_test.go
  internal/provider/model.go
  internal/provider/provider.go
  internal/provider/provider_unit_test.go
  internal/provider/set_configuration.go
  internal/provider/set_configuration_test.go
  templates/guides/client_certificate.md.tmpl
  templates/index.md.tmpl
Due: unittests, acceptancetests, provider-core

test: initialize typed certificate configuration fixtures
  internal/provider/configure_clients_test.go
  internal/provider/set_configuration_test.go
Due: none

docs: generate base64 client certificate authentication guide
  docs/guides/client_certificate.md
  docs/index.md
Due: none

style: format certificate configuration additions
  internal/client/client_credential_factory.go
  internal/provider/set_configuration.go
Due: unittests, acceptancetests, provider-core

feat: support base64 client certificates for provider authentication (#4036)
  docs/guides/client_certificate.md
  docs/index.md
  examples/provider/provider.tf
  internal/client/client_credential_factory.go
  internal/client/client_credential_factory_test.go
  internal/client/model.go
  internal/provider/configure_clients.go
  internal/provider/configure_clients_test.go
  internal/provider/log_configuration.go
  internal/provider/log_configuration_test.go
  internal/provider/model.go
  internal/provider/provider.go
  internal/provider/provider_unit_test.go
  internal/provider/set_configuration.go
  internal/provider/set_configuration_test.go
  templates/guides/client_certificate.md.tmpl
  templates/index.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: scope Go CI to changed packages and propagate failures
  .github/workflows/go-lint.yml
  .github/workflows/pr-tests.yml
  .golangci.yml
  scripts/pipeline/pr/README.md
  scripts/pipeline/pr/lib/git_operations.py
  scripts/pipeline/pr/lib/go_tests.py
  scripts/pipeline/pr/steps/detect_changes.py
  scripts/pipeline/pr/steps/monitor_resources.sh
  scripts/pipeline/pr/steps/run_lint.py
  scripts/pipeline/pr/tests/support.py
  scripts/pipeline/pr/tests/test_git_operations.py
  scripts/pipeline/pr/tests/test_go_lint.py
  scripts/pipeline/pr/tests/test_go_tests.py
Due: none

fix: reserve CI time for diagnostic artifact upload
  .github/workflows/go-lint.yml
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/README.md
Due: none

fix: exclude acceptance cases from unit and race checks
  scripts/pipeline/pr/README.md
  scripts/pipeline/pr/lib/go_tests.py
  scripts/pipeline/pr/tests/test_go_tests.py
Due: none

fix: budget lint execution from measured cold build times
  .github/workflows/go-lint.yml
  scripts/pipeline/pr/README.md
  scripts/pipeline/pr/steps/run_lint.py
Due: none

docs: record scoped CI validation and runner memory limitation
  scripts/pipeline/pr/README.md
Due: none

fix(ci): scope Go checks to changed packages and preserve failures (#4037)
  .github/workflows/go-lint.yml
  .github/workflows/pr-tests.yml
  .golangci.yml
  scripts/pipeline/pr/README.md
  scripts/pipeline/pr/lib/git_operations.py
  scripts/pipeline/pr/lib/go_tests.py
  scripts/pipeline/pr/steps/detect_changes.py
  scripts/pipeline/pr/steps/monitor_resources.sh
  scripts/pipeline/pr/steps/run_lint.py
  scripts/pipeline/pr/tests/support.py
  scripts/pipeline/pr/tests/test_git_operations.py
  scripts/pipeline/pr/tests/test_go_lint.py
  scripts/pipeline/pr/tests/test_go_tests.py
Due: none

fix: stabilize macOS compliance scheduled actions
  docs/resources/graph_beta_device_management_macos_device_compliance_policy.md
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct_device_compliance_scheduled_action_for_rules.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/state.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/state_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/responses/validate_get/get_macos_device_compliance_policy.json
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_added.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_initial.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_removed.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_updated.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_empty_notification_template.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_legacy_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_omitted_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_actions.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_empty_notification_template.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_added.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_initial.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_removed.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_updated.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_legacy_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_omitted_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_updated_actions.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_updated_explicit_rule_name.tf
  templates/resources/graph_beta_device_management_macos_device_compliance_policy.md.tmpl
Due: unittests, acceptancetests

docs: split macOS compliance policy examples by scenario
  docs/resources/graph_beta_device_management_macos_device_compliance_policy.md
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_advanced.tf
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_comprehensive.tf
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_minimal.tf
  templates/resources/graph_beta_device_management_macos_device_compliance_policy.md.tmpl
Due: none

fix: resolve macOS compliance scheduled-action drift (#4038)
  docs/resources/graph_beta_device_management_macos_device_compliance_policy.md
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_advanced.tf
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_comprehensive.tf
  examples/resources/microsoft365_graph_beta_device_management_macos_device_compliance_policy/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct_device_compliance_scheduled_action_for_rules.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/construct_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/state.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/state_test.go
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/responses/validate_get/get_macos_device_compliance_policy.json
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_added.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_initial.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_removed.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_assignment_updated.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_empty_notification_template.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_legacy_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_omitted_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_actions.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_empty_notification_template.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/acceptance/resource_updated_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_added.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_initial.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_removed.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_assignment_updated.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_explicit_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_legacy_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_omitted_rule_name.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_updated_actions.tf
  internal/services/resources/device_management/graph_beta/macos_device_compliance_policy/tests/terraform/unit/resource_updated_explicit_rule_name.tf
  templates/resources/graph_beta_device_management_macos_device_compliance_policy.md.tmpl
Due: unittests, acceptancetests

chore: formatting
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/resource.go
Due: unittests, acceptancetests

chore: styling
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/construct.go
  internal/services/resources/device_management/graph_beta/device_configuration_templates_json/crud.go
Due: unittests, acceptancetests
