Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

implement config validator
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/resource.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_explicit_token.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_mandatory_error.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/validate.go
Due: unittests, acceptancetests

auto detect correct token
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resolve_id.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/state.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/dep_onboarding_settings_list.json
Due: unittests, acceptancetests

fix write only password getting set as null
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/crud.go
Due: unittests, acceptancetests

fix: OSVersionRegex accept varying part strings
  internal/constants/regex.go
Due: unittests, acceptancetests

fix: go build to run on main,fix,feat branches
  .github/workflows/manual-build.yml
Due: none

feat: first draft - add macOS Device Enrollment Policy resource to provider
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/constants.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct_assignment.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/crud.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/docs/create.md
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/docs/create_2.md
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/docs/update.md
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/model.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/modify_plan.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resolve_id.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state_assignment.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state_settings.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/validate.go
Due: unittests, acceptancetests, provider-core

fix: comment alteration on OSVersionRegex for description
  internal/constants/regex.go
Due: unittests, acceptancetests

fix: branches have the wrong syntax
  .github/workflows/manual-build.yml
Due: none

fix: patch on-premises publishing via kiota request adapter
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/crud.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/crud_test.go
Due: unittests, acceptancetests

refactor: move on-premises publishing payload construction
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct_test.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/crud.go
Due: unittests, acceptancetests

chore: implementation additions
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct_assignment.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct_enrollment_time_device_membership_target.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/crud.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/docs/update.md
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/model.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state_assignment.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/003_scenario_minimal_to_maximal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/004_scenario_minimal_to_maximal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/005_scenario_maximal_to_minimal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/006_scenario_maximal_to_minimal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/003_scenario_minimal_to_maximal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/004_scenario_minimal_to_maximal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/005_scenario_maximal_to_minimal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/006_scenario_maximal_to_minimal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/007_scenario_device_security_group.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/008_scenario_device_security_group_update_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/009_scenario_device_security_group_update_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/010_scenario_error_description_length.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/011_scenario_error_invalid_device_security_group_format.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/012_scenario_error_admin_account_required.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/013_scenario_error_invalid_group_ownership.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/validate.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy_default_policy_assignment/docs/assign.md
Due: unittests, acceptancetests

chore: enhance macOS Device Enrollment Policy with additional validation and configuration options
  docs/resources/graph_beta_device_management_macos_device_enrollment_policy.md
  docs/resources/graph_beta_device_management_operation_approval_policy.md
  examples/resources/microsoft365_graph_beta_device_management_macos_device_enrollment_policy/enrollment_time_grouping.tf
  examples/resources/microsoft365_graph_beta_device_management_macos_device_enrollment_policy/import.sh
  examples/resources/microsoft365_graph_beta_device_management_macos_device_enrollment_policy/resource.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/construct.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/state_settings.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/003_scenario_minimal_to_maximal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/acceptance/006_scenario_maximal_to_minimal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/003_scenario_minimal_to_maximal_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/006_scenario_maximal_to_minimal_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/007_scenario_device_security_group.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/008_scenario_device_security_group_update_step_01.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/009_scenario_device_security_group_update_step_02.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/010_scenario_error_authentication_method_required.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/010_scenario_error_description_length.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/011_scenario_error_invalid_device_security_group_format.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/012_scenario_error_admin_account_required.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/tests/terraform/unit/013_scenario_error_invalid_group_ownership.tf
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/validate.go
  templates/resources/graph_beta_device_management_macos_device_enrollment_policy.md.tmpl
Due: unittests, acceptancetests

feat: add traffic_routing_method attribute to microsoft365_graph_beta_applications_application_on_premises_publishing resource (#3184)
  docs/resources/graph_beta_applications_application_on_premises_publishing.md
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct_test.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/crud.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/model.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/resource.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/state.go
Due: unittests, acceptancetests

Fix on-premises IP application segment resource
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/import.sh
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/requests.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state.go
Due: unittests, acceptancetests

Document Graph API quirks for IP application segments
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/requests.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state.go
Due: unittests, acceptancetests

Add IP application segment request response tests
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/requests_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response_test.go
Due: none

Align IP segment fixtures with Graph API behavior
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_create/post_ip_application_segment_success.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_maximal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_minimal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_update/patch_ip_application_segment_success.json
Due: none

Handle observed IP segment destination types
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_dns_suffix_wildcard.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_maximal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_maximal.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests

Restore wildcard FQDN IP segment example
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_wildcard_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_maximal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_maximal.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests

fix: on-premises IP application segment resource (#3210)
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/import.sh
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_dns_suffix_wildcard.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_wildcard_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/requests.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/requests_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/response_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_create/post_ip_application_segment_success.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_maximal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_get/get_ip_application_segment_minimal.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/responses/validate_update/patch_ip_application_segment_success.json
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_maximal.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests

Add Graph beta on-premises connector group resource
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_connector_group/import.sh
  examples/resources/microsoft365_graph_beta_applications_on_premises_connector_group/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_connector_group/resource_with_region.tf
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/construct.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/crud.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/model.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/requests.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/requests_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource_test_helper.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/response.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/response_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/state.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/state_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/stub.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/responses/validate_create/post_connector_group_success.json
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/responses/validate_delete/get_connector_group_not_found.json
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/responses/validate_get/get_connector_group_success.json
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/responses/validate_update/patch_connector_group_success.json
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/acceptance/resource_with_region.tf
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/unit/resource_updated.tf
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/unit/resource_with_region.tf
  templates/resources/graph_beta_applications_on_premises_connector_group.md.tmpl
Due: unittests, acceptancetests, provider-core

Align connector group permissions with Graph docs
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource.go
  templates/resources/graph_beta_applications_on_premises_connector_group.md.tmpl
Due: unittests, acceptancetests

Add Graph beta connector group assignment resource
  docs/resources/graph_beta_applications_on_premises_connector_group_assignment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_connector_group_assignment/import.sh
  examples/resources/microsoft365_graph_beta_applications_on_premises_connector_group_assignment/resource_minimal.tf
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/model.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource_test_helper.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/state.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/state_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/stub.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/tests/terraform/unit/resource_minimal.tf
  templates/resources/graph_beta_applications_on_premises_connector_group_assignment.md.tmpl
Due: unittests, acceptancetests, provider-core

Document connector group assignment live behavior
  docs/resources/graph_beta_applications_on_premises_connector_group_assignment.md
  templates/resources/graph_beta_applications_on_premises_connector_group_assignment.md.tmpl
Due: none

Explain connector group API deviations in code
  internal/services/resources/applications/graph_beta/on_premises_connector_group/construct.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource.go
Due: unittests, acceptancetests

Handle imported default connector group destroy
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group/crud.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/tests/terraform/unit/resource_default_import.tf
  templates/resources/graph_beta_applications_on_premises_connector_group.md.tmpl
Due: unittests, acceptancetests

Document connector group behavior in schema descriptions
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  docs/resources/graph_beta_applications_on_premises_connector_group_assignment.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource.go
Due: unittests, acceptancetests

Remove version history from new connector group docs
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  docs/resources/graph_beta_applications_on_premises_connector_group_assignment.md
  templates/resources/graph_beta_applications_on_premises_connector_group.md.tmpl
  templates/resources/graph_beta_applications_on_premises_connector_group_assignment.md.tmpl
Due: none

Use configured Graph base URL for connector groups
  internal/services/resources/applications/graph_beta/on_premises_connector_group/requests.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group/requests_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/crud.go
Due: unittests, acceptancetests

Document connector group unknownFutureValue handling
  docs/resources/graph_beta_applications_on_premises_connector_group.md
  internal/services/resources/applications/graph_beta/on_premises_connector_group/resource.go
  templates/resources/graph_beta_applications_on_premises_connector_group.md.tmpl
Due: unittests, acceptancetests

Harden connector group assignment delete
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/crud.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_connector_group_assignment/tests/terraform/acceptance/resource_minimal.tf
Due: unittests, acceptancetests

Add Global Secure Access filtering profile resource
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile/resource.tf
  internal/provider/resources.go
  internal/services/common/license/required.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/license/get_subscribed_skus_no_license.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/license/get_subscribed_skus_success.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/get_filtering_profile_maximal.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/get_filtering_profile_minimal.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/post_filtering_profile.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/post_filtering_profile_error.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_delete/get_filtering_profile_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_update/get_filtering_profile_updated.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_disabled_state.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_enabled_state.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_minimal_no_description.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_invalid.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests, provider-core

Fix filtering profile wire payload
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests

Remove filtering profile license precheck
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  internal/services/common/license/required.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/license/get_subscribed_skus_no_license.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/license/get_subscribed_skus_success.json
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests

Guard filtering profile create response id
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
Due: unittests, acceptancetests

Document filtering profile API differences
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/requests.go
Due: unittests, acceptancetests

feat: Add Global Secure Access filtering profile resource (#3222)
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/get_filtering_profile_maximal.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/get_filtering_profile_minimal.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/post_filtering_profile.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_create/post_filtering_profile_error.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_delete/get_filtering_profile_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/responses/validate_update/get_filtering_profile_updated.json
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_disabled_state.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_enabled_state.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_minimal_no_description.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/acceptance/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_invalid.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: update Graph API permissions via automated pipeline
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource.go
  templates/resources/graph_beta_device_management_macos_device_enrollment_policy.md.tmpl
Due: unittests, acceptancetests

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
