Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

fix: added change notifications credentials to bi-weekly tests workflow
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/map_credentials.py
Due: none

fix: bi-weekly tests workflow for windows_updates and change_notifications (#2649)
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/map_credentials.py
Due: none

fix: test fixures for microsoft365_graph_identity_and_access_subscribed_skus
  go.sum
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/01_list_all.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/02_by_sku_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/03_by_sku_part_number.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/04_by_account_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/05_by_account_name.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/06_by_applies_to_user.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/07_by_applies_to_company.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/01_list_all.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/02_by_sku_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/03_by_sku_part_number.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/04_by_account_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/05_by_account_name.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/06_by_applies_to_user.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/07_by_applies_to_company.tf
Due: none

fix: test fixures for microsoft365_graph_identity_and_access_subscribed_skus (#2650)
  go.sum
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/01_list_all.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/02_by_sku_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/03_by_sku_part_number.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/04_by_account_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/05_by_account_name.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/06_by_applies_to_user.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/acceptance/07_by_applies_to_company.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/01_list_all.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/02_by_sku_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/03_by_sku_part_number.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/04_by_account_id.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/05_by_account_name.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/06_by_applies_to_user.tf
  internal/services/datasources/identity_and_access/graph_v1.0/subscribed_skus/tests/terraform/unit/07_by_applies_to_company.tf
Due: none

chore(main): release 0.52.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.52.0-alpha (#2624)
  CHANGELOG.md
Due: none

chore: add time_sleep resources to manage user and blueprint propagation delays
  internal/services/resources/agents/graph_beta/agent_collection_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity/tests/terraform/acceptance/resource_with_tags.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_minimal_updated.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_der.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_hex.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_pem.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_federated_identity_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_federated_identity_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_instance/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_update_maximal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_update_minimal.tf
  internal/services/resources/agents/graph_beta/agent_user/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_user/tests/terraform/acceptance/resource_minimal.tf
Due: none

chore: add time_sleep agent service domain resource to handle propagation delays (#2688)
  internal/services/resources/agents/graph_beta/agent_collection_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity/tests/terraform/acceptance/resource_with_tags.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/tests/terraform/acceptance/resource_minimal_updated.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_der.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_hex.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/tests/terraform/acceptance/resource_pem.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_federated_identity_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_federated_identity_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_instance/resource_acceptance_test.go
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_update_maximal.tf
  internal/services/resources/agents/graph_beta/agent_instance/tests/terraform/acceptance/resource_update_minimal.tf
  internal/services/resources/agents/graph_beta/agent_user/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/agents/graph_beta/agent_user/tests/terraform/acceptance/resource_minimal.tf
Due: none

fix(macos_software_update_configuration): persist plan state before ReadWithRetry in Update
  internal/services/resources/device_management/graph_beta/macos_software_update_configuration/crud.go
Due: unittests, acceptancetests

test(macos_software_update_configuration): assert timeouts survive Update
  internal/services/resources/device_management/graph_beta/macos_software_update_configuration/resource_test.go
Due: none

fix(macos_software_update_configuration): persist plan state before ReadWithRetry in Update (#2689)
  internal/services/resources/device_management/graph_beta/macos_software_update_configuration/crud.go
  internal/services/resources/device_management/graph_beta/macos_software_update_configuration/resource_test.go
Due: unittests, acceptancetests

chore(main): release 0.52.1-alpha
  CHANGELOG.md
Due: none

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/identity_and_access/graph_beta/directory_role/datasource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_directory_role_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  templates/resources/graph_beta_identity_and_access_administrative_unit_directory_role_assignment.md.tmpl
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/identity_and_access/graph_beta/directory_role/datasource.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list_resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_directory_role_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource.go
  templates/resources/graph_beta_identity_and_access_administrative_unit_directory_role_assignment.md.tmpl
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_default_settings.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
Due: unittests, acceptancetests

chore: enhance application resource schema and improve test reliability
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/acceptance/resource_01_owner_type_user.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_device_app_configuration_policy/validate.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state_assignments.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_mobile_apps.json
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_windows_autopilot_device_preparation_policy_assignments_empty.json
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/003_scenario_user_driven_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/004_scenario_user_driven_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/005_scenario_user_driven_minimal_with_minimal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/006_scenario_user_driven_minimal_with_maximal_assignments.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau019-selected.tf
Due: unittests, acceptancetests

Chore/test fixtures (#2747)
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/acceptance/resource_01_owner_type_user.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_device_app_configuration_policy/validate.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state_assignments.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_mobile_apps.json
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_windows_autopilot_device_preparation_policy_assignments_empty.json
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/003_scenario_user_driven_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/004_scenario_user_driven_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/005_scenario_user_driven_minimal_with_minimal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/006_scenario_user_driven_minimal_with_maximal_assignments.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau019-selected.tf
Due: unittests, acceptancetests

chore(main): release 0.52.1-alpha (#2700)
  CHANGELOG.md
Due: none

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/identity_and_access/graph_beta/directory_role/datasource.go
  internal/services/datasources/windows_updates/graph_beta/catalog_enteries/datasource.go
  internal/services/datasources/windows_updates/graph_beta/compliance_changes/datasource.go
  internal/services/datasources/windows_updates/graph_beta/device_enrollment/datasource.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list_resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_directory_role_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_content_approval/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_deployment/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_deployment_state/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_device_registration/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_operational_insights_connection/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_updatable_asset_group/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_update_policy/resource.go
  templates/data-sources/graph_beta_windows_updates_catalog_enteries.md.tmpl
  templates/data-sources/graph_beta_windows_updates_device_enrollment.md.tmpl
  templates/resources/graph_beta_identity_and_access_administrative_unit_directory_role_assignment.md.tmpl
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_default_settings.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_deployment.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_deployment_state.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_device_registration.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_operational_insights_connection.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_updatable_asset_group.md.tmpl
Due: unittests, acceptancetests

feat: Enhance Windows Device Compliance Policy with additional system security settings
  docs/diagrams/provider_architecture.drawio
  docs/diagrams/provider_architecture.svg
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/model.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/responses/validate_get/get_windows_device_compliance_policy_maximal_updated.json
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_system_security.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_device_health_update.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_system_security.tf
Due: unittests, acceptancetests

modified: go.sum
  go.sum
Due: none

chore(main): release 0.53.0-alpha
  CHANGELOG.md
Due: none

chore: update Graph API permissions via automated pipeline
  internal/services/resources/windows_updates/graph_beta/autopatch_policy_approval/resource.go
  internal/services/resources/windows_updates/graph_beta/autopatch_ring/resource.go
  templates/resources/graph_beta_windows_updates_autopatch_policy_approval.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_ring.md.tmpl
Due: unittests, acceptancetests

fix: #3085
  docs/data-sources/graph_beta_windows_updates_catalog_enteries.md
  docs/data-sources/graph_beta_windows_updates_device_enrollment.md
  docs/resources/graph_beta_device_and_app_management_win32_app.md
  docs/resources/graph_beta_device_and_app_management_win32_lob_app.md
  docs/resources/graph_beta_device_management_intune_branding_profile.md
  docs/resources/graph_beta_device_management_windows_device_compliance_policy.md
  docs/resources/graph_beta_identity_and_access_administrative_unit_directory_role_assignment.md
  docs/resources/graph_beta_identity_and_access_administrative_unit_membership.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_default_settings.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_policy.md
  docs/resources/graph_beta_windows_updates_autopatch_deployment.md
  docs/resources/graph_beta_windows_updates_autopatch_deployment_state.md
  docs/resources/graph_beta_windows_updates_autopatch_device_registration.md
  docs/resources/graph_beta_windows_updates_autopatch_operational_insights_connection.md
  docs/resources/graph_beta_windows_updates_autopatch_policy_approval.md
  docs/resources/graph_beta_windows_updates_autopatch_ring.md
  docs/resources/graph_beta_windows_updates_autopatch_updatable_asset_group.md
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_app/import.sh
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_app/resource_exe_psadt_app.tf
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_lob_app/import.sh
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_lob_app/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_and_app_management/graph_beta/macos_pkg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/crud.go
  templates/resources/graph_beta_device_and_app_management_win32_app.md.tmpl
  templates/resources/graph_beta_device_and_app_management_win32_lob_app.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: import resource handling for device_and_app_management_win32_app, device_and_app_management_macos_pkg_app and device_and_app_management_macos_dmg_app
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_lob_app/import.sh
  examples/resources/microsoft365_graph_beta_device_and_app_management_win32_lob_app/resource.tf
  go.sum
  internal/provider/resources.go
  internal/services/resources/device_and_app_management/graph_beta/macos_dmg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_dmg_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/macos_dmg_app/state.go
  internal/services/resources/device_and_app_management/graph_beta/macos_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_lob_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/macos_pkg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_pkg_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/model.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/state.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/content_state.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/model.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/resource_docs/resource_model.json
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/state.go
  templates/resources/graph_beta_device_and_app_management_win32_lob_app.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: updated docs
  docs/resources/graph_beta_device_and_app_management_win32_app.md
  docs/resources/graph_beta_device_and_app_management_win32_lob_app.md
Due: none

fix: updated release please pipeline to use ubuntu latest rather than a large runner which is not needed
  .github/workflows/release-please.yml
Due: none

chore(main): release 0.53.1-alpha
  CHANGELOG.md
Due: none

feat: add settings_catalog_inventory_policy resource
  examples/resources/microsoft365_graph_beta_device_management_settings_catalog_inventory_policy/import.sh
  examples/resources/microsoft365_graph_beta_device_management_settings_catalog_inventory_policy/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/construct_assignment.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/construct_resource.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/crud.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/model.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/modify_plan.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/resource.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/state.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/state_assignment.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/state_settings_catalog.go
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/responses/validate_create/post_inventory_policy_minimal.json
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/responses/validate_delete/get_inventory_policy_not_found.json
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/responses/validate_read/get_inventory_policy_minimal.json
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/responses/validate_update/put_inventory_policy_updated.json
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_group_collection.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_with_all_assignment_types.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_with_all_devices_assignment.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_with_all_users_assignment.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_with_exclusion_assignment.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/tests/terraform/unit/resource_with_group_assignments.tf
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/url_path.todo
  internal/services/resources/device_management/graph_beta/settings_catalog_inventory_policy/validator.go
  templates/resources/graph_beta_device_management_settings_catalog_inventory_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

chore(main): release 0.54.0-alpha
  CHANGELOG.md
Due: none

deps: bump
  go.mod
  go.sum
Due: none

feat: added Graph Beta Users datasource
  internal/provider/datasources.go
  internal/services/datasources/users/graph_beta/user/construct.go
  internal/services/datasources/users/graph_beta/user/datasource.go
  internal/services/datasources/users/graph_beta/user/datasource_acceptance_test.go
  internal/services/datasources/users/graph_beta/user/datasource_test.go
  internal/services/datasources/users/graph_beta/user/mocks/responders.go
  internal/services/datasources/users/graph_beta/user/model.go
  internal/services/datasources/users/graph_beta/user/read.go
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_display_name.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_employee_id.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_given_name.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_object_id.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_on_premises_distinguished_name.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_on_premises_immutable_id.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_user_by_upn.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_users_all.json
  internal/services/datasources/users/graph_beta/user/tests/responses/validate_get/get_users_odata_filter.json
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/01_list_all.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/02_by_object_id.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/03_by_display_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/04_by_employee_id.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/05_by_given_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/06_by_user_principal_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/acceptance/09_odata_query.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/01_list_all.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/02_by_object_id.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/03_by_display_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/04_by_employee_id.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/05_by_given_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/06_by_user_principal_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/07_by_on_premises_immutable_id.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/08_by_on_premises_distinguished_name.tf
  internal/services/datasources/users/graph_beta/user/tests/terraform/unit/09_odata_query.tf
Due: unittests, acceptancetests, provider-core

fix: update Terraform provider documentation generation command
  docs/data-sources/graph_beta_users_user.md
  examples/data-sources/microsoft365_graph_beta_users_user/01_list_all.tf
  examples/data-sources/microsoft365_graph_beta_users_user/02_by_object_id.tf
  examples/data-sources/microsoft365_graph_beta_users_user/03_by_display_name.tf
  examples/data-sources/microsoft365_graph_beta_users_user/04_by_employee_id.tf
  examples/data-sources/microsoft365_graph_beta_users_user/05_by_given_name.tf
  examples/data-sources/microsoft365_graph_beta_users_user/06_by_user_principal_name.tf
  examples/data-sources/microsoft365_graph_beta_users_user/07_by_on_premises_immutable_id.tf
  examples/data-sources/microsoft365_graph_beta_users_user/08_by_on_premises_distinguished_name.tf
  examples/data-sources/microsoft365_graph_beta_users_user/09_by_odata_query.tf
  main.go
  templates/data-sources/graph_beta_users_user.md.tmpl
Due: none

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
