Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

feat: add Windows Autopatch Ring resource
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_ring/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_ring/resource_maximal.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_ring/resource_with_exclusion_assignments.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_ring/resource_with_inclusion_assignments.tf
  internal/provider/resources.go
  internal/services/resources/windows_updates/autopatch_ring/construct.go
  internal/services/resources/windows_updates/autopatch_ring/crud.go
  internal/services/resources/windows_updates/autopatch_ring/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_ring/model.go
  internal/services/resources/windows_updates/autopatch_ring/resource.go
  internal/services/resources/windows_updates/autopatch_ring/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_ring/resource_test.go
  internal/services/resources/windows_updates/autopatch_ring/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_ring/state.go
  internal/services/resources/windows_updates/autopatch_ring/tests/responses/Create/post_ring.json
  internal/services/resources/windows_updates/autopatch_ring/tests/responses/Read/get_ring.json
  internal/services/resources/windows_updates/autopatch_ring/tests/responses/Update/patch_ring.json
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/01_inclusion_only.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/02_exclusion_only.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/03_no_assignments.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/04_inclusion_and_exclusion.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/05_max_assignments.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/acceptance/05_min_assignments.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/unit/01_create.tf
  internal/services/resources/windows_updates/autopatch_ring/tests/terraform/unit/02_update.tf
  templates/resources/graph_beta_windows_updates_autopatch_ring.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: added Windows Autopatch Operational Insights Connection resource to the provider
  README.md
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_operational_insights_connection/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_operational_insights_connection/resource.tf
  internal/provider/resources.go
  internal/services/resources/windows_updates/autopatch_multi_phase_release/resource_docs/planning.txt
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/construct.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/crud.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/model.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/resource.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/resource_test.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/state.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/tests/responses/Create/post_operational_insights_connection.json
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/tests/responses/Read/get_operational_insights_connection.json
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/tests/terraform/unit/01_create.tf
  templates/resources/graph_beta_windows_updates_autopatch_operational_insights_connection.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: fixes for test fixtures and import logic added missing json debug
  internal/provider/resources.go
  internal/services/resources/windows_updates/autopatch_content_approval/construct.go
  internal/services/resources/windows_updates/autopatch_content_approval/resource.go
  internal/services/resources/windows_updates/autopatch_content_approval/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_content_approval/tests/terraform/acceptance/02_update_deployment_settings_step_1.tf
  internal/services/resources/windows_updates/autopatch_content_approval/tests/terraform/acceptance/02_update_deployment_settings_step_2.tf
  internal/services/resources/windows_updates/autopatch_deployment/construct.go
  internal/services/resources/windows_updates/autopatch_deployment/state.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/construct.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/state.go
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/construct.go
  internal/services/resources/windows_updates/autopatch_deployment_state/construct.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/construct.go
  internal/services/resources/windows_updates/autopatch_policy/construct.go
  internal/services/resources/windows_updates/autopatch_policy_approval/construct.go
  internal/services/resources/windows_updates/autopatch_ring/construct.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/construct.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/construct.go
  internal/services/resources/windows_updates/autopatch_update_policy/construct.go
  internal/services/resources/windows_updates/autopatch_update_policy/crud.go
  internal/services/resources/windows_updates/autopatch_update_policy/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_update_policy/model.go
  internal/services/resources/windows_updates/autopatch_update_policy/resource.go
  internal/services/resources/windows_updates/autopatch_update_policy/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_update_policy/resource_test.go
  internal/services/resources/windows_updates/autopatch_update_policy/state.go
  internal/services/resources/windows_updates/autopatch_update_policy/state_attr_types.go
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Create/post_update_policy_01_full.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Create/post_update_policy_03_minimal.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Create/post_update_policy_minimal.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Create/post_update_policy_success.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Read/get_update_policy_success.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/responses/Update/patch_update_policy_success.json
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/acceptance/01_create_update_policy.tf
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/acceptance/02_lifecycle_update.tf
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/acceptance/03_minimal_policy.tf
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/unit/01_create_update_policy.tf
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/unit/02_update_policy_settings.tf
  internal/services/resources/windows_updates/autopatch_update_policy/tests/terraform/unit/03_minimal_policy.tf
Due: unittests, acceptancetests, provider-core

chore: standardised crud function comment pattens.
  internal/services/resources/windows_updates/autopatch_content_approval/construct.go
  internal/services/resources/windows_updates/autopatch_content_approval/crud.go
  internal/services/resources/windows_updates/autopatch_deployment/crud.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/crud.go
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/crud.go
  internal/services/resources/windows_updates/autopatch_deployment_state/crud.go
  internal/services/resources/windows_updates/autopatch_device_registration/crud.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/crud.go
  internal/services/resources/windows_updates/autopatch_policy/crud.go
  internal/services/resources/windows_updates/autopatch_policy_approval/crud.go
  internal/services/resources/windows_updates/autopatch_ring/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/crud.go
  internal/services/resources/windows_updates/autopatch_update_policy/crud.go
Due: unittests, acceptancetests

chore: update applicable_content acceptance tests to use device data source
  internal/services/datasources/windows_updates/applicable_content/tests/terraform/acceptance/01_basic.tf
  internal/services/datasources/windows_updates/applicable_content/tests/terraform/acceptance/02_driver_updates.tf
  internal/services/datasources/windows_updates/applicable_content/tests/terraform/acceptance/03_display_drivers.tf
  internal/services/datasources/windows_updates/applicable_content/tests/terraform/acceptance/04_with_matches_only.tf
  internal/services/datasources/windows_updates/applicable_content/tests/terraform/acceptance/05_device_specific.tf
Due: none

fix: update autopatch_updatable_asset_group_assignment tests for refactored APIs
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/002_lifecycle_add_members_step_1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/002_lifecycle_add_members_step_2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/003_lifecycle_remove_members_step_1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/003_lifecycle_remove_members_step_2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/unit/01_create.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/unit/02_update.tf
Due: none

fix: update autopatch_device_registration acceptance tests for refactored managed_device API
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_2.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_2.tf
Due: none

chore: use device data source instead of managed_device for autopatch_device_registration tests
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_2.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_2.tf
Due: none

fix: correct attribute name in autopatch_updatable_asset_group_assignment example
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource.tf
Due: none

chore: streamline device registration read logic in autopatch_device_registration
  internal/services/resources/windows_updates/autopatch_device_registration/crud.go
Due: unittests, acceptancetests

chore(main): release 0.50.0-alpha
  CHANGELOG.md
Due: none

fic: added enrollment verification and logging in autopatch_device_registration
  internal/services/resources/windows_updates/autopatch_device_registration/crud.go
  internal/services/resources/windows_updates/autopatch_device_registration/helpers.go
  internal/services/resources/windows_updates/autopatch_device_registration/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_device_registration/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_device_registration/state.go
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/validate.go
Due: unittests, acceptancetests

chore: broke down responders by api endpoint
  internal/acceptance/testlog/helpers.go
  internal/services/resources/windows_updates/autopatch_content_approval/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_deployment/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_deployment_state/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_device_registration/helpers.go
  internal/services/resources/windows_updates/autopatch_device_registration/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_device_registration/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_operational_insights_connection/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_policy/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_policy_approval/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_ring/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_update_policy/mocks/responders.go
Due: unittests, acceptancetests

chore: enhance mock responders for Windows Updates API
  internal/services/datasources/windows_updates/applicable_content/mocks/responders.go
  internal/services/datasources/windows_updates/catalog_enteries/mocks/responders.go
  internal/services/datasources/windows_updates/compliance_changes/mocks/responders.go
  internal/services/datasources/windows_updates/device_enrollment/mocks/responders.go
  internal/services/datasources/windows_updates/device_enrollment/tests/terraform/unit/08_by_device_name.tf
  internal/services/resources/windows_updates/autopatch_content_approval/crud.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/crud.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/resource.go
  internal/services/resources/windows_updates/autopatch_deployment_audience/tests/responses/validate_create/post_audience_success.json
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/resource.go
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/resource_test.go
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/tests/terraform/unit/01_basic_members.tf
  internal/services/resources/windows_updates/autopatch_deployment_audience_members/tests/terraform/unit/02_members_with_exclusions.tf
  internal/services/resources/windows_updates/autopatch_device_registration/helpers.go
  internal/services/resources/windows_updates/autopatch_device_registration/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_device_registration/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/003_lifecycle_add_devices_step_2.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_1.tf
  internal/services/resources/windows_updates/autopatch_device_registration/tests/terraform/acceptance/004_lifecycle_remove_devices_step_2.tf
  internal/services/resources/windows_updates/autopatch_update_policy/crud.go
Due: unittests, acceptancetests

chore: update authentication methods and enhance Windows Updates resources
  docs/index.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md
  docs/resources/graph_beta_windows_updates_autopatch_deployment_audience.md
  docs/resources/graph_beta_windows_updates_autopatch_deployment_audience_members.md
  docs/resources/graph_beta_windows_updates_autopatch_updatable_asset_group.md
  docs/resources/graph_beta_windows_updates_autopatch_updatable_asset_group_assignment.md
  examples/provider/provider.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_automatic_user_consent.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_b2b_collaboration.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_b2b_direct_connect.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_complete.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_inbound_trust.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource_tenant_restrictions.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_deployment_audience/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_deployment_audience/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_deployment_audience/resource_with_exclusions.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_deployment_audience/resource_with_members.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group/resource.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource_multiple_devices.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/acceptance/resource_03_update_minimal_to_maximal_step2.tf
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_deployment_audience.md.tmpl
  templates/resources/graph_beta_windows_updates_autopatch_updatable_asset_group_assignment.md.tmpl
Due: unittests, acceptancetests

fix: increase sleep duration in CrossTenantAccessPartnerSettings update method
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/crud.go
Due: unittests, acceptancetests

chore: merge device membership management into Windows Updates autopatch updatable asset group resource
  docs/resources/graph_beta_windows_updates_autopatch_updatable_asset_group.md
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group/resource.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group/resource_multiple_devices.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group/resource_with_members.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/construct.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/model.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/resource.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/resource_test.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/state.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/responses/Read/get_members_empty.json
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/01_create_empty.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/02_with_members.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/03_lifecycle_add_step1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/03_lifecycle_add_step2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/04_lifecycle_remove_step1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/acceptance/04_lifecycle_remove_step2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/unit/01_create_empty.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/unit/02_create_with_members.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/tests/terraform/unit/03_update_add_member.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/validate.go
  templates/resources/graph_beta_windows_updates_autopatch_updatable_asset_group.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: remove deprecated Windows Updates autopatch updatable asset group assignment resource
  docs/resources/graph_beta_windows_updates_autopatch_updatable_asset_group_assignment.md
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_updatable_asset_group_assignment/resource_multiple_devices.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/construct.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/model.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/resource.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/resource_test.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/state.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/responses/Read/get_updatable_asset_group_assignment.json
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/responses/Read/get_updatable_asset_group_assignment_members.json
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/002_lifecycle_add_members_step_1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/002_lifecycle_add_members_step_2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/003_lifecycle_remove_members_step_1.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/acceptance/003_lifecycle_remove_members_step_2.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/unit/01_create.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/tests/terraform/unit/02_update.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group_assignment/validate.go
  templates/resources/graph_beta_windows_updates_autopatch_updatable_asset_group_assignment.md.tmpl
Due: unittests, acceptancetests

chore(main): release 0.50.0-alpha (#2569)
  CHANGELOG.md
Due: none

chore(deps): update licensing service plan reference data
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json.old
Due: unittests, acceptancetests

fix: graphBetaWindowsUpdatesAutopatchUpdatableAssetGroup
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/crud.go
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/state.go
Due: unittests, acceptancetests

refactor: update mobile app data source to refine filtering capabilities
  docs/data-sources/graph_beta_device_and_app_management_mobile_app.md
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/01_list_all.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/02_by_app_id.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/03_by_display_name.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/04_by_publisher.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/05_by_developer.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/06_by_category.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/07_odata_query.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/08_with_app_type_filter.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/09_combined_filters.tf
  examples/data-sources/microsoft365_graph_beta_device_and_app_management_mobile_app/datasource.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/datasource.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/datasource_acceptance_test.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/datasource_test.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/mocks/responders.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/model.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/read.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/responses/validate_get/get_mobile_apps_by_developer.json
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/01_all.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/02_by_app_id.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/03_odata_filter.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/04_with_app_type_filter.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/05_by_display_name.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/06_by_publisher_name.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/07_by_developer.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/acceptance/08_by_category.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/01_all.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/02_by_id.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/03_by_display_name.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/04_by_publisher_name.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/05_odata_filter.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/06_with_app_type_filter.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/07_by_developer.tf
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/tests/terraform/unit/08_by_category.tf
  internal/services/resources/windows_updates/autopatch_updatable_asset_group/resource_acceptance_test.go
  templates/data-sources/graph_beta_device_and_app_management_mobile_app.md.tmpl
Due: unittests, acceptancetests

fix: added key ' force_definition_file_upload' to microsoft365_graph_beta_device_management_group_policy_uploaded_definition_files to handle upload error scenarios.
  docs/resources/graph_beta_device_management_autopatch_groups.md
  examples/resources/microsoft365_graph_beta_device_management_autopatch_groups/import.sh
  examples/resources/microsoft365_graph_beta_device_management_autopatch_groups/resource.tf
  examples/resources/microsoft365_graph_beta_device_management_group_policy_uploaded_definition_files/resource.tf
  internal/provider/resources.go
  internal/services/common/plan_modifiers/set.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/construct.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/crud.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/mocks/responders.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/model.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/modify_plan.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/resource.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/resource_docs/create_reqs.md
  internal/services/resources/device_management/graph_beta/autopatch_groups/resource_test.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/state.go
  internal/services/resources/device_management/graph_beta/autopatch_groups/tests/responses/create/post_autopatch_groups_unittest_success.json
  internal/services/resources/device_management/graph_beta/autopatch_groups/tests/terraform/unit/resource_autopatch_group_test.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/crud.go
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/helpers.go
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/model.go
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/resource.go
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_chrome.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_google.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_mozilla.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_mozilla_update.tf
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/resource.go
  internal/services/resources/groups/graph_beta/license_assignment/state.go
  internal/services/resources/users/graph_beta/license_assignment/resource.go
  templates/resources/graph_beta_device_management_autopatch_groups.md.tmpl
Due: unittests, acceptancetests, provider-core

chore(main): release 0.51.0-alpha
  CHANGELOG.md
Due: none

chore: remove unused filter_id attributes from assignment target in test fixtures
  docs/resources/graph_beta_device_management_group_policy_uploaded_definition_files.md
  docs/resources/graph_beta_device_management_windows_update_ring.md
  docs/resources/graph_beta_groups_license_assignment.md
  docs/resources/graph_beta_users_user_license_assignment.md
  examples/resources/microsoft365_graph_beta_device_management_group_policy_uploaded_definition_files/resource.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_update_ring/scenario_007_maximal_assignments.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_chrome.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_google.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_mozilla.tf
  internal/services/resources/device_management/graph_beta/group_policy_uploaded_definition_files/tests/terraform/acceptance/resource_group_policy_uploaded_definition_files_mozilla_update.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_downgrade_step_1_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_downgrade_step_2_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_lifecycle_step_1_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_lifecycle_step_2_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/acceptance/assignments_minimal.tf
Due: none

feat: added resource access_administrative_unit_membership
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum001_user_membership.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum002_group_membership.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum003_mixed_membership.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/construct.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/crud.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/model.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/state.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_devices_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_groups_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_members_aum001_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_members_aum002_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_users_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum001_user_based.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum002_group_based.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum003_mixed.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step1.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step2.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step3.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/unit/resource_aum001_basic.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/unit/resource_aum002_single.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/validate.go
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: added resource access_administrative_unit_membership (#2648)
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum001_user_membership.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum002_group_membership.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_administrative_unit_membership/resource_aum003_mixed_membership.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/construct.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/crud.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/model.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/state.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_devices_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_groups_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_members_aum001_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_members_aum002_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/responses/validate_create/get_users_success.json
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum001_user_based.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum002_group_based.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum003_mixed.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step1.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step2.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/acceptance/resource_aum004_update_step3.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/unit/resource_aum001_basic.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/tests/terraform/unit/resource_aum002_single.tf
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/validate.go
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: add Windows Updates credentials to bi-weekly tests workflow
  .github/workflows/bi-weekly-tests.yml
Due: none

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
