Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Align filtering profile description validation
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_invalid.tf
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests

Add web content filtering policy resources
  docs/resources/graph_beta_identity_and_access_network_web_content_filtering_policy.md
  docs/resources/graph_beta_identity_and_access_network_web_content_filtering_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy_rule/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/state.go
  templates/resources/graph_beta_identity_and_access_network_web_content_filtering_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_web_content_filtering_policy_rule.md.tmpl
Due: unittests, acceptancetests, provider-core

Validate web content rule destinations
  docs/resources/graph_beta_identity_and_access_network_web_content_filtering_policy_rule.md
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/resource.go
Due: unittests, acceptancetests

Align web filtering resource names with Graph endpoint
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy.md
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_content_filtering_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy_rule/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_content_filtering_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/state.go
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md.tmpl
Due: unittests, acceptancetests, provider-core

Retry web filtering rule delete on precondition failure
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/crud.go
Due: unittests, acceptancetests

Document web filtering header modification limits
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/resource.go
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md.tmpl
Due: unittests, acceptancetests

Retry web filtering rule update on precondition failure
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/crud.go
Due: unittests, acceptancetests

fix: Align filtering profile description validation (#3224)
  docs/resources/graph_beta_identity_and_access_network_filtering_profile.md
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile/tests/terraform/unit/resource_invalid.tf
  templates/resources/graph_beta_identity_and_access_network_filtering_profile.md.tmpl
Due: unittests, acceptancetests

Remove unsupported web filtering custom headers
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy_rule/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/state.go
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md.tmpl
Due: unittests, acceptancetests

deps: bump
  go.sum
Due: none

deps: bump (#3226)
  go.sum
Due: none

feat: Add Graph beta Global Secure Access web filtering policy resources (#3227)
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy.md
  docs/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_web_filtering_policy_rule/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_web_filtering_policy_rule/state.go
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_web_filtering_policy_rule.md.tmpl
Due: unittests, acceptancetests, provider-core

docs: regen
  docs/resources/graph_beta_device_management_ios_ipados_device_enrollment_policy.md
  docs/resources/graph_beta_device_management_macos_device_enrollment_policy.md
Due: none

docs: regen (#3229)
  docs/resources/graph_beta_device_management_ios_ipados_device_enrollment_policy.md
  docs/resources/graph_beta_device_management_macos_device_enrollment_policy.md
Due: none

chore(main): release 0.56.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.56.0-alpha (#3182)
  CHANGELOG.md
Due: none

feat: add network filtering profile policy link resource
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests, provider-core

docs: explain GSA policy link API quirks
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/requests.go
Due: unittests, acceptancetests

refactor: hide GSA policy link OData details
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

fix: validate filtering policy link fields
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

feat: support additional GSA policy link types
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

refactor: simplify GSA policy type values
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

fix: normalize non-filtering policy link timestamps
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
Due: unittests, acceptancetests

refactor: drop policy link timestamp attributes
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

docs: use full web filtering policy link example
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
Due: none

feat: Adds a Microsoft Graph beta resource for Microsoft Entra Global Secure Access Security profile policy links (#3231)
  docs/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_filtering_profile_policy_link/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/model.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_profile_policy_link/validate_test.go
  templates/resources/graph_beta_identity_and_access_network_filtering_profile_policy_link.md.tmpl
Due: unittests, acceptancetests, provider-core

Fix: OS version regex
  internal/constants/regex.go
Due: unittests, acceptancetests

chore: local CI workflow for testing (not for upstream)
  .github/workflows/manual-build.yml
Due: none

fix: OS version regex (#3233)
  internal/constants/regex.go
Due: unittests, acceptancetests

feat: add windows-app-protection resource to provider import and resources list
  internal/provider/resources.go
Due: unittests, acceptancetests, provider-core

feat: add windows managed app protection policy resource
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/crud.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/state.go
Due: unittests, acceptancetests

fix: fix ISODuration type conversion and attr import in windows app protection
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/state.go
Due: unittests, acceptancetests

fix: explicitly null optional fields in state mapping to prevent unknown value error after apply
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/state.go
Due: unittests, acceptancetests

fix: add UseStateForUnknown plan modifiers to optional computed fields
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource.go
Due: unittests, acceptancetests

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
