Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

deps: go.mod
  go.mod
  go.sum
Due: none

fix(mobile_app_assignment): omit intent-incompatible Apple settings
  docs/resources/graph_beta_device_and_app_management_mobile_app_assignment.md
  internal/services/common/validate/attribute/bool.go
  internal/services/common/validate/attribute/bool_presence_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_lob.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_store.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_ios_vpp_omitted.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_uninstall_ios_store.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_uninstall_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_unknown_intent.tf
Due: unittests, acceptancetests

fix(mobile_app_assignment): repair read refresh, update and import
  docs/resources/graph_beta_device_and_app_management_mobile_app_assignment.md
  examples/resources/microsoft365_graph_beta_device_and_app_management_mobile_app_assignment/import.sh
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/construct.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/crud.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/helpers.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/model.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/state.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/state_migrations.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/001_ios_available_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/002_ios_required_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/003_ios_uninstall_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/004_ios_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_2.tf
Due: unittests, acceptancetests

test(mobile_app_assignment): add acceptance tests for intent/settings compatibility
  internal/services/resources/device_and_app_management/graph_beta/ios_store_app/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/001_ios_available_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/002_ios_required_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/003_ios_uninstall_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/004_ios_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/006_ios_validation_is_removable_unsupported_intent.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/007_ios_validation_uninstall_unsupported_settings.tf
Due: unittests, acceptancetests

fix(ios_store_app): update is_featured attribute to be computed
  internal/services/resources/device_and_app_management/graph_beta/ios_store_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/001_ios_available_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/002_ios_required_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/003_ios_uninstall_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/004_ios_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_2.tf
Due: unittests, acceptancetests

test(mobile_app_assignment): assign to a published app instead of creating one
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/001_ios_available_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/002_ios_required_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/003_ios_uninstall_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/004_ios_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/006_ios_validation_is_removable_unsupported_intent.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/007_ios_validation_uninstall_unsupported_settings.tf
Due: none

test(mobile_app_assignment): look up Company Portal instead of creating an app
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/001_ios_available_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/002_ios_required_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/003_ios_uninstall_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/004_ios_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/005_ios_lifecycle_required_to_available_step_2.tf
Due: none

fix(mobile_app_assignment): map win32_catalog settings on read
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/state.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_ios_vpp_updated.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_win32_catalog.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_unknown_intent.tf
Due: unittests, acceptancetests

ci(release-please): authenticate with the org's release-please App
  .github/workflows/release-please.yml
Due: none

fix: iOS managed mobile app resource fails to target apps (wrong API call)
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_mobile_app/crud.go
Due: unittests, acceptancetests

test(mobile_app_assignment): cover every settings block, and validate auto_update_settings
  internal/services/common/validate/attribute/object.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/008_win_get_required.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/009_win32_lob_available.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/010_win32_catalog_available.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/011_windows_universal_app_x_required.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/acceptance/012_android_managed_store_required.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/001_scenario_available_ios_store_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/002_scenario_available_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/003_scenario_available_ios_lob.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/004_scenario_required_ios_vpp_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/005_scenario_required_is_removable_omitted.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/006_scenario_uninstall_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/007_scenario_uninstall_ios_store.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/008_scenario_unknown_intent.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/009_lifecycle_settings_update_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/009_lifecycle_settings_update_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/010_scenario_import.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_auto_update_settings_required.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_is_removable_available.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_is_removable_available_without_enrollment.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_is_removable_uninstall.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_prevent_managed_app_backup.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/011_validation_uninstall_on_device_removal.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/012_settings_win32_catalog.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/013_settings_win32_lob.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/014_settings_win_get.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/015_settings_android_managed_store.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/016_settings_macos_lob.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/017_settings_macos_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/018_settings_microsoft_store_for_business.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/019_settings_windows_app_x.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/020_settings_windows_universal_app_x.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_uninstall_ios_store.tf
Due: unittests, acceptancetests

fix: add link to 'random'in external providers for each test
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_acceptance_test.go
Due: none

fix: add 'T_' to be allowed in regex
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_acceptance_test.go
Due: none

fix: add 'T_' to be allowed in regex (missed a couple blocks last commit)
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_acceptance_test.go
Due: none

feat: support priority and assignment filters on windows enrollment status page
  examples/resources/microsoft365_graph_beta_device_management_windows_enrollment_status_page/resource.tf
  internal/services/common/schema/graph_beta/device_management/device_configuration_assignment.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/construct.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/model.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/resource.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/state.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/state_assignments.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/tests/responses/validate_get/get_windows_enrollment_status_page_with_assignments.json
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/tests/terraform/unit/resource_maximal.tf
Due: unittests, acceptancetests

fix: support plain ZIP sources for Win32 apps
  docs/resources/graph_beta_device_and_app_management_win32_app.md
  internal/services/common/schema/graph_beta/device_and_app_management/mobile_application_metadata.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/content_upload.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/model.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/package_content.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/README.md
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/fixtures/v1/setup.cmd
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/fixtures/v2/setup.cmd
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/content_lifecycle.tf
  templates/resources/graph_beta_device_and_app_management_win32_app.md.tmpl
Due: unittests, acceptancetests

fix: windows_device_compliance_policy grace_period_hours to match graph API.
  docs/resources/graph_beta_device_management_windows_device_compliance_policy.md
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_grace_period_bounds.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_grace_period_invalid.tf
Due: unittests, acceptancetests

Revert unnecessary format changes and redundant unit tests
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_grace_period_bounds.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_grace_period_invalid.tf
Due: unittests, acceptancetests

Alligned whitespace with upstream
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test.go
Due: none

test: align Win32 acceptance tests with CI harness
  internal/services/resources/device_and_app_management/graph_beta/win32_app/acceptance_packages_test.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/README.md
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/fixtures/v1/setup.cmd
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/fixtures/v2/setup.cmd
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/003_lifecycle_content_update_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/003_lifecycle_content_update_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/003_lifecycle_content_update_step_3.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/003_lifecycle_content_update_step_4.tf
  internal/services/resources/device_and_app_management/graph_beta/win32_app/tests/terraform/acceptance/content_lifecycle.tf
Due: unittests, acceptancetests

chore: remove manual build workflow from PR
  .github/workflows/manual-build.yml
Due: none

feat: add repo docs template file for ios app protection
  templates/resources/graph_beta_device_and_app_management_ios_managed_app_protection.md.tmpl
Due: none

feat: add example docs for ios managed app protection
  examples/resources/microsoft365_graph_beta_device_and_app_management_ios_managed_app_protection/import.sh
  examples/resources/microsoft365_graph_beta_device_and_app_management_ios_managed_app_protection/resource.tf
Due: none

chore: docs
  README.md
Due: none

feat: add windows_autopilot_device_preparation_policy data source
  docs/data-sources/graph_beta_device_management_windows_autopilot_device_preparation_policy.md
  examples/data-sources/microsoft365_graph_beta_device_management_windows_autopilot_device_preparation_policy/datasource.tf
  internal/provider/datasources.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/datasource.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/model.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/read.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  templates/data-sources/graph_beta_device_management_windows_autopilot_device_preparation_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

refactor: use id for managed TLS certificate data source
  docs/data-sources/graph_beta_identity_and_access_network_managed_tls_certificate.md
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_managed_tls_certificate/data-source.tf
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/datasource.go
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/datasource_test.go
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/model.go
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/read.go
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/tests/terraform/unit/datasource.tf
Due: unittests, acceptancetests

fix: align managed TLS certificate data source id handling
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/state.go
  internal/services/datasources/identity_and_access/graph_beta/network_managed_tls_certificate/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_managed_tls_certificate/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_managed_tls_certificate/tests/terraform/acceptance/resource_03_enabled_with_data_source.tf
  internal/services/resources/identity_and_access/graph_beta/network_managed_tls_certificate/tests/terraform/acceptance/resource_04_replaced.tf
Due: unittests, acceptancetests

docs: document managed TLS certificate defaults
  docs/resources/graph_beta_identity_and_access_network_managed_tls_certificate.md
  internal/services/resources/identity_and_access/graph_beta/network_managed_tls_certificate/resource.go
Due: unittests, acceptancetests

feat: align device preparation policy data source with device data source pattern
  docs/data-sources/graph_beta_device_management_windows_autopilot_device_preparation_policy.md
  examples/data-sources/microsoft365_graph_beta_device_management_windows_autopilot_device_preparation_policy/datasource.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/datasource.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/datasource_acceptance_test.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/datasource_test.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/model.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/read.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_policies_all.json
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_policy_by_id.json
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/01_list_all.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/02_by_policy_id.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/03_by_name.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/04_odata_query.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/05_with_assignments.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/01_list_all.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/02_by_policy_id.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/03_by_name.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/04_odata_query.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/05_not_a_device_preparation_policy.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/06_name_not_found.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/07_conflicting_search_methods.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/08_no_search_method.tf
  internal/services/datasources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/09_with_assignments.tf
Due: unittests, acceptancetests

fix: retain device security group on autopilot policy update
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/008_scenario_automatic_update.tf
Due: unittests, acceptancetests

docs: separate TLS example resource blocks with a blank line
  docs/resources/graph_beta_identity_and_access_network_tls_inspection_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_tls_inspection_policy_rule/resource.tf
Due: none

docs: generate prompt policy resource documentation
  docs/resources/graph_beta_identity_and_access_network_prompt_policy.md
  docs/resources/graph_beta_identity_and_access_network_prompt_policy_rule.md
  internal/services/common/errors/kiota/error_options_test.go
Due: none

test: finalize MCP validation and generated documentation
  docs/resources/graph_beta_identity_and_access_network_mcp_policy.md
  docs/resources/graph_beta_identity_and_access_network_mcp_policy_rule.md
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/conditions.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/conditions_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/state.go
Due: unittests, acceptancetests

refactor: simplify prompt validation and satisfy lint checks
  internal/services/common/errors/kiota/error_handling.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/verify.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/validate.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/verify.go
Due: unittests, acceptancetests

fix: keep prompt priority bounds visible to static analysis
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/state.go
Due: unittests, acceptancetests

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
