Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

test: correct UnknownError delete retry expectation
  internal/services/common/errors/kiota/retryable_test.go
Due: none

test: record live MCP Terraform validation and cleanup
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_docs/api_contract.md
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_docs/live_validation.md
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/resource_acceptance_test.go
Due: unittests, acceptancetests

fix: categorize prompt policy docs and clarify error variable names
  docs/resources/graph_beta_identity_and_access_network_prompt_policy.md
  docs/resources/graph_beta_identity_and_access_network_prompt_policy_rule.md
  internal/services/common/errors/kiota/error_handling.go
  templates/resources/graph_beta_identity_and_access_network_prompt_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_prompt_policy_rule.md.tmpl
Due: unittests, acceptancetests

fix: retain resource state on wrapped transport errors
  internal/services/common/errors/kiota/error_handling.go
  internal/services/common/errors/kiota/error_options_test.go
Due: unittests, acceptancetests

docs: simplify MCP examples and keep validation evidence in PR
  docs/resources/graph_beta_identity_and_access_network_mcp_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_mcp_policy_rule/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_docs/api_contract.md
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/resource_docs/live_validation.md
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/conditions.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/acceptance/resource_empty_description.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/acceptance/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/unit/resource_empty_description.tf
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/tests/terraform/unit/resource_updated.tf
Due: unittests, acceptancetests

docs: ground MCP list semantics in duplicate and reorder API probes
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/conditions.go
Due: unittests, acceptancetests

refactor: reuse shared MCP policy identity model
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/crud.go
Due: unittests, acceptancetests

fix: use Kiota retry handling for MCP creates
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_mcp_policy_rule/requests.go
Due: unittests, acceptancetests

refactor: reuse shared helpers for prompt policies
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/verify.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/predicate.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/schemes_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/verify.go
Due: unittests, acceptancetests

fix: preserve Kiota retry handling for throttling
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
Due: unittests, acceptancetests, provider-core

refactor: use generated TLS inspection SDK types
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_tls_inspection_policy_rule/state.go
Due: unittests, acceptancetests

fix: wrap Graph client configuration errors
  internal/client/graph_client_options.go
Due: unittests, acceptancetests, provider-core

fix: preserve request bodies on throttled retries
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/contract_test.go
Due: unittests, acceptancetests, provider-core

fix: preserve Kiota retry middleware in provider runtime
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
Due: unittests, acceptancetests, provider-core

fix: honor Graph middleware options
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/schemes_test.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/validate.go
Due: unittests, acceptancetests, provider-core

fix: stabilize prompt rule scheme readback
  internal/services/resources/identity_and_access/graph_beta/network_prompt_policy_rule/predicate.go
Due: unittests, acceptancetests

fix: windows_enrollment_status_page validate selected_mobile_app_ids by direct lookup instead of paginated list
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/tests/terraform/unit/resource_invalid_app_type.tf
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/tests/terraform/unit/resource_unknown_app_id.tf
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/validate.go
Due: unittests, acceptancetests

fix: preserve Graph request bodies when retrying compression fallback
  internal/client/graph_client_compression.go
  internal/client/graph_client_compression_test.go
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
Due: unittests, acceptancetests, provider-core

deps: bump
  go.sum
Due: none

refactor: share configured Graph retry options with resources
  internal/client/build_clients.go
  internal/client/graph_client_options.go
  internal/client/graph_client_options_test.go
  internal/client/graph_clients.go
Due: unittests, acceptancetests, provider-core

docs: add cloud firewall examples and generated resource documentation
  docs/resources/graph_beta_identity_and_access_network_cloud_firewall_policy.md
  docs/resources/graph_beta_identity_and_access_network_cloud_firewall_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cloud_firewall_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cloud_firewall_policy/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cloud_firewall_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cloud_firewall_policy_rule/resource.tf
  templates/resources/graph_beta_identity_and_access_network_cloud_firewall_policy.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_cloud_firewall_policy_rule.md.tmpl
Due: none

feat: add Global Secure Access cloud firewall policy and rule resources
  internal/provider/resources.go
  internal/services/common/errors/kiota/error_handling_options_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/crud_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/fixture_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/retry_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/tests/responses/validate_get/get_cloud_firewall_success.json
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/fixture_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/tests/responses/validate_get/get_cloud_firewall_success.json
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/validate.go
  internal/services/resources/identity_and_access/graph_beta/network_cloud_firewall_policy_rule/validation_test.go
Due: unittests, acceptancetests, provider-core

feat: add Global Secure Access custom block page resource
  docs/resources/graph_beta_identity_and_access_network_custom_block_page.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_custom_block_page/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_custom_block_page/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/model.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/state.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/validate.go
  internal/services/resources/identity_and_access/graph_beta/network_custom_block_page/validate_test.go
  templates/resources/graph_beta_identity_and_access_network_custom_block_page.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add Global Secure Access conditional access settings resource
  docs/resources/graph_beta_identity_and_access_network_conditional_access_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_conditional_access_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_conditional_access_settings/resource.tf
  internal/provider/resources.go
  internal/services/common/errors/kiota/error_handling.go
  internal/services/common/errors/kiota/singleton_error_test.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/model.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/responses/validate_get/get_conditional_access_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/terraform/acceptance/omitted.tf
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/terraform/unit/disabled.tf
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/terraform/unit/enabled.tf
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/terraform/unit/invalid.tf
  internal/services/resources/identity_and_access/graph_beta/network_conditional_access_settings/tests/terraform/unit/omitted.tf
  templates/resources/graph_beta_identity_and_access_network_conditional_access_settings.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add network cross-tenant access settings resource
  docs/resources/graph_beta_identity_and_access_network_cross_tenant_access_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cross_tenant_access_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_cross_tenant_access_settings/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/model.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/tests/responses/validate_get/get_cross_tenant_access_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/tests/terraform/unit/resource_disabled.tf
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/tests/terraform/unit/resource_enabled.tf
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/tests/terraform/unit/resource_invalid.tf
  templates/resources/graph_beta_identity_and_access_network_cross_tenant_access_settings.md.tmpl
Due: unittests, acceptancetests, provider-core

test: keep cross-tenant acceptance credentials in environment
  internal/services/resources/identity_and_access/graph_beta/network_cross_tenant_access_settings/resource_acceptance_test.go
Due: none

feat: add Windows trusted root certificate resource
  docs/resources/graph_beta_device_management_windows_trusted_root_certificate.md
  examples/resources/microsoft365_graph_beta_device_management_windows_trusted_root_certificate/import.sh
  examples/resources/microsoft365_graph_beta_device_management_windows_trusted_root_certificate/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/construct_resource.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/crud.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/model.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/state.go
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/terraform/acceptance/resource.tf
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/terraform/unit/resource.tf
  internal/services/resources/device_management/graph_beta/windows_trusted_root_certificate/tests/test-root.cer
  templates/resources/graph_beta_device_management_windows_trusted_root_certificate.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add network forwarding options resource
  docs/resources/graph_beta_identity_and_access_network_forwarding_options.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_options/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_options/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/model.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/tests/responses/validate_get/get_forwarding_options.json
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_options/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_forwarding_options.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add network proxy auto configuration resource
  docs/resources/graph_beta_identity_and_access_network_proxy_auto_configuration.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_proxy_auto_configuration/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_proxy_auto_configuration/proxy.pac
  examples/resources/microsoft365_graph_beta_identity_and_access_network_proxy_auto_configuration/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/model.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/state.go
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/tests/responses/validate_get/get_configuration.json
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_proxy_auto_configuration/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_proxy_auto_configuration.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add network explicit forward proxy resource
  docs/resources/graph_beta_identity_and_access_network_explicit_forward_proxy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_explicit_forward_proxy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_explicit_forward_proxy/resource.tf
  internal/provider/resources.go
  internal/services/common/custom_requests/json_request.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/tests/responses/validate_get/get_configuration.json
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/tests/terraform/acceptance/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/tests/terraform/unit/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/tests/terraform/unit/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_explicit_forward_proxy/validate.go
  templates/resources/graph_beta_identity_and_access_network_explicit_forward_proxy.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: read Linux compliance assignments from dedicated endpoint
  internal/services/resources/device_management/graph_beta/linux_device_compliance_policy/assignments_read_test.go
  internal/services/resources/device_management/graph_beta/linux_device_compliance_policy/crud.go
Due: unittests, acceptancetests

deps: tidy
  go.sum
Due: none

Feat: Add additionally supported datacenters
  docs/resources/graph_beta_windows_365_cloud_pc_provisioning_policy.md
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource.go
Due: unittests, acceptancetests

Breaking off just ios_device_configuration_templates_json
  docs/resources/graph_beta_device_management_ios_device_configuration_templates_json.md
  examples/resources/microsoft365_graph_beta_device_management_ios_device_configuration_templates_json/import.sh
  examples/resources/microsoft365_graph_beta_device_management_ios_device_configuration_templates_json/resource.tf
  internal/provider/resources.go
  internal/services/common/normalize/project.go
  internal/services/common/normalize/project_test.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/construct_assignment.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/construct_resource.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/crud.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/mocks/responders.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/model.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_docs/create_req.md
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_test.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/state.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/state_assignment.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/strip.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/strip_test.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_assign/get_ios_device_configuration_assignments.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_create/post_ios_device_configuration_error.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_create/post_ios_device_features_success.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_create/post_ios_general_success.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_delete/get_ios_device_configuration_not_found.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_get/get_ios_device_features_configuration.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/responses/validate_get/get_ios_general_device_configuration.json
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_device_features_home_screen.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_general_minimal.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/acceptance/resource_general_minimal_updated.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/unit/resource_device_features_home_screen.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/unit/resource_general_minimal.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/tests/terraform/unit/resource_rejects_envelope_keys.tf
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/validators.go
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/validators_test.go
  templates/resources/graph_beta_device_management_ios_device_configuration_templates_json.md.tmpl
Due: unittests, acceptancetests, provider-core

Removing not-yet-recreated resource
  docs/resources/graph_beta_device_management_ios_device_configuration_templates_json.md
  internal/services/resources/device_management/graph_beta/ios_device_configuration_templates_json/resource.go
  templates/resources/graph_beta_device_management_ios_device_configuration_templates_json.md.tmpl
Due: unittests, acceptancetests
