Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

chore: remove tenant app management policy resource references
  internal/provider/resources.go
Due: unittests, acceptancetests, provider-core

chore: update application resource schema with plan modifiers
  internal/services/resources/applications/graph_beta/application/resource.go
  scripts/powershell/applications/Create-AppManagementPolicy.ps1
  scripts/powershell/applications/Get-TenantAppManagementPolicy.ps1
  scripts/powershell/applications/Reset-TenantAppManagementPolicyToDefaults.ps1
  scripts/powershell/applications/Update-TenantAppManagementPolicy.ps1
  scripts/powershell/applications/config/policy-block-passwords.json
  scripts/powershell/applications/config/policy-comprehensive.json
  scripts/powershell/applications/config/policy-minimal.json
  scripts/powershell/applications/config/policy-testing-3years.json
Due: unittests, acceptancetests

chore: update application identifier URI resource and tests
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_maximal.tf
  internal/services/resources/applications/graph_beta/application_identifier_uri/crud.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/model.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/resource.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/state.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/tests/terraform/acceptance/resource_02_multiple.tf
  internal/services/resources/applications/graph_beta/application_owner/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_owner/resource_test.go
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_minimal.tf
Due: unittests, acceptancetests

chore(main): release 0.43.0-alpha
  CHANGELOG.md
Due: none

chore: refine formatting in acceptance test for maximal application resource
  docs/data-sources/graph_beta_applications_application.md
  docs/resources/graph_beta_applications_application.md
  docs/resources/graph_beta_applications_application_certificate_credential.md
  docs/resources/graph_beta_applications_application_federated_identity_credential.md
  docs/resources/graph_beta_applications_application_identifier_uri.md
  docs/resources/graph_beta_applications_application_owner.md
  docs/resources/graph_beta_applications_application_password_credential.md
  docs/resources/graph_beta_applications_service_principal.md
  docs/resources/graph_beta_applications_service_principal_app_role_assigned_to.md
  docs/resources/graph_beta_applications_service_principal_owner.md
  docs/resources/graph_beta_users_user_license_assignment.md
  examples/resources/microsoft365_graph_beta_applications_application/import.sh
  examples/resources/microsoft365_graph_beta_applications_application/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_multitenant.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_public_client.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_spa.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_web_app.tf
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/resource_github_actions.tf
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/resource_kubernetes.tf
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/resource_api_uri.tf
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/resource_multiple_uris.tf
  examples/resources/microsoft365_graph_beta_applications_application_owner/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_owner/resource_service_principal_owner.tf
  examples/resources/microsoft365_graph_beta_applications_application_owner/resource_user_owner.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal/resource_with_properties.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/resource_service_principal_owner.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/resource_user_owner.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  templates/resources/graph_beta_applications_application.md.tmpl
  templates/resources/graph_beta_applications_application_federated_identity_credential.md.tmpl
  templates/resources/graph_beta_applications_application_identifier_uri.md.tmpl
  templates/resources/graph_beta_applications_application_owner.md.tmpl
  templates/resources/graph_beta_applications_service_principal.md.tmpl
  templates/resources/graph_beta_applications_service_principal_owner.md.tmpl
Due: none

chore: updated docs (#2322)
  docs/data-sources/graph_beta_applications_application.md
  docs/resources/graph_beta_applications_application.md
  docs/resources/graph_beta_applications_application_certificate_credential.md
  docs/resources/graph_beta_applications_application_federated_identity_credential.md
  docs/resources/graph_beta_applications_application_identifier_uri.md
  docs/resources/graph_beta_applications_application_owner.md
  docs/resources/graph_beta_applications_application_password_credential.md
  docs/resources/graph_beta_applications_service_principal.md
  docs/resources/graph_beta_applications_service_principal_app_role_assigned_to.md
  docs/resources/graph_beta_applications_service_principal_owner.md
  docs/resources/graph_beta_users_user_license_assignment.md
  examples/resources/microsoft365_graph_beta_applications_application/import.sh
  examples/resources/microsoft365_graph_beta_applications_application/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_multitenant.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_public_client.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_spa.tf
  examples/resources/microsoft365_graph_beta_applications_application/resource_web_app.tf
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/resource_github_actions.tf
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/resource_kubernetes.tf
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/resource_api_uri.tf
  examples/resources/microsoft365_graph_beta_applications_application_identifier_uri/resource_multiple_uris.tf
  examples/resources/microsoft365_graph_beta_applications_application_owner/import.sh
  examples/resources/microsoft365_graph_beta_applications_application_owner/resource_service_principal_owner.tf
  examples/resources/microsoft365_graph_beta_applications_application_owner/resource_user_owner.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal/resource_minimal.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal/resource_with_properties.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/resource_service_principal_owner.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal_owner/resource_user_owner.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  templates/resources/graph_beta_applications_application.md.tmpl
  templates/resources/graph_beta_applications_application_federated_identity_credential.md.tmpl
  templates/resources/graph_beta_applications_application_identifier_uri.md.tmpl
  templates/resources/graph_beta_applications_application_owner.md.tmpl
  templates/resources/graph_beta_applications_service_principal.md.tmpl
  templates/resources/graph_beta_applications_service_principal_owner.md.tmpl
Due: none

chore(main): release 0.43.0-alpha (#2239)
  CHANGELOG.md
Due: none

Potential fix for code scanning alert no. 25: Clear-text storage of sensitive information
  scripts/pipeline/bi_weekly_tests/map_credentials.py
Due: none

chore: update go.sum to reflect dependency version changes
  go.sum
Due: none

chore: update go.sum to reflect dependency version changes (#2324)
  go.sum
Due: none

fix: enhance error handling in CRUD operations for MacOS and Win32 apps
  internal/services/common/errors/sentinels/mobile_app_upload.go
  internal/services/resources/device_and_app_management/graph_beta/macos_dmg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_pkg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_vpp_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/office_suite_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/targeted_managed_app_configuration/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/winget_app/crud.go
Due: unittests, acceptancetests

fix: enhance error handling in CRUD operations for MacOS and Win32 apps (#2325)
  internal/services/common/errors/sentinels/mobile_app_upload.go
  internal/services/resources/device_and_app_management/graph_beta/macos_dmg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_pkg_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/macos_vpp_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/office_suite_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/targeted_managed_app_configuration/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_lob_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/winget_app/crud.go
Due: unittests, acceptancetests

feat: enhance guid_list_sharder to support applications and improve test structure
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/helpers_test.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/01_self_deploying_os_default_locale.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/02_user_driven_hybrid_domain_join.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/03_user_driven_with_group_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/04_hololens_with_all_device_assignment.tf
  internal/services/resources/groups/graph_beta/group/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/group/resource_test.go
  internal/services/resources/groups/graph_beta/group/resource_test_helper.go
Due: unittests, acceptancetests

feat: enhance guid_list_sharder to support applications and improve test structure (#2327)
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/helpers_test.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/01_self_deploying_os_default_locale.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/02_user_driven_hybrid_domain_join.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/03_user_driven_with_group_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_deployment_profile/tests/terraform/acceptance/04_hololens_with_all_device_assignment.tf
  internal/services/resources/groups/graph_beta/group/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/group/resource_test.go
  internal/services/resources/groups/graph_beta/group/resource_test_helper.go
Due: unittests, acceptancetests

chore(main): release 0.44.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.44.0-alpha (#2326)
  CHANGELOG.md
Due: none

chore: remove unnecessary nil return from mock responses in responders.go
  internal/services/datasources/applications/graph_beta/application/mocks/responders.go
Due: none

chore: enhance mock responders for application management
  internal/services/datasources/applications/graph_beta/application/mocks/responders.go
  internal/services/datasources/applications/graph_beta/application/tests/responses/validate_get/get_application_by_app_id.json
  internal/services/datasources/applications/graph_beta/application/tests/responses/validate_get/get_application_by_id.json
Due: none

chore: enhance issue closure logic in manage_test_issues.py
  scripts/pipeline/bi_weekly_tests/manage_test_issues.py
Due: none

chore: enhance issue closure logic in manage_test_issues.py (#2329)
  scripts/pipeline/bi_weekly_tests/manage_test_issues.py
Due: none

chore: update acceptance tests for conditional access template to use element count keys
  internal/services/datasources/identity_and_access/graph_beta/conditional_access_template/datasource_acceptance_test.go
Due: none

chore: update golangci-lint configuration and GitHub Actions workflow
  .github/workflows/go-lint.yml
  .golangci.yml
Due: none

chore: update acceptance tests for service principal app role assignment
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/tests/terraform/acceptance/app_role_assignment_to_service_principal.tf
Due: none

chore: update acceptance tests to use display_name for service principals
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau001-all.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau001a-windows_azure_active_directory.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau003-selected.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau009-management.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau013-all.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau014-all.tf
Due: none

chore: refactor acceptance tests for group app role assignment
  internal/services/resources/groups/graph_beta/group_app_role_assignment/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/resource_test.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/groups/graph_beta/group_app_role_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/tests/terraform/acceptance/resource_cau014-all.tf
Due: none

chore: update acceptance tests for Windows remediation script to include time provider
  internal/services/resources/device_management/graph_beta/windows_remediation_script/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_remediation_script/tests/terraform/acceptance/006_assignments_maximal.tf
Due: none

chore: adjust golangci-lint concurrency settings to optimize CI performance
  .golangci.yml
Due: none

chore: simplify URI existence check in application identifier CRUD
  internal/services/resources/applications/graph_beta/application_identifier_uri/crud.go
Due: unittests, acceptancetests

chore: update acceptance tests for Windows quality update expedite policy
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/resource_acceptance_test.go
Due: none

chore: enhance acceptance tests for device enrollment notifications
  internal/acceptance/terraform_dependancies/device_management/groups.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/mocks/responders.go
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/resource_test.go
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/responses/validate_create/post_android_enrollment_notifications_success.json
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/responses/validate_get/get_android_enrollment_notifications.json
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/responses/validate_get/get_android_enrollment_notifications_assignments.json
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/responses/validate_get/get_android_enrollment_notifications_list.json
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/responses/validate_update/patch_android_enrollment_notifications_success.json
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_01_android_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_02_android_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_03_android_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_04_android_all_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_05_androidForWork_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_06_androidForWork_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_07_androidForWork_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_08_androidForWork_all_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_androidForWork_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_androidForWork_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_androidForWork_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_android_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_android_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/acceptance/resource_android_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_01_android_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_02_android_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_03_android_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_04_android_all_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_05_androidForWork_email_minimal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_06_androidForWork_email_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_07_androidForWork_push_maximal.tf
  internal/services/resources/device_management/graph_beta/device_enrollment_notification/tests/terraform/unit/resource_08_androidForWork_all_maximal.tf
Due: unittests, acceptancetests

chore: add validation for Windows feature update policy resource construction
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_create/post_002_scenario_maximal.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_create/post_004_lifecycle_step_1.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_read/get_002_scenario_maximal.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_read/get_003_lifecycle_step_2.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_read/get_004_lifecycle_step_1.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/responses/validate_update/patch_003_lifecycle_step_2.json
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/001_scenario_make_available_as_soon_as_possible.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/002_scenario_make_available_on_specific_date.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/003_scenario_make_update_available_gradually.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/004_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/004_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/005_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/005_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/006_assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/006_assignments_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/007_assignments_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/007_assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/008_assignments_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/008_assignments_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/009_assignments_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/009_assignments_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/validate.go
Due: unittests, acceptancetests

chore: update Windows feature update policy examples and remove deprecated resource
  docs/resources/graph_beta_device_management_windows_feature_update_policy.md
  examples/resources/microsoft365_graph_beta_device_management_windows_feature_update_policy/make_available_as_soon_as_possible.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_feature_update_policy/make_available_gradually.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_feature_update_policy/make_available_on_specific_date.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_feature_update_policy/resource.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_feature_update_policy/with_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/006_assignments_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/007_assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/008_assignments_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/008_assignments_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/009_assignments_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_feature_update_policy/tests/terraform/acceptance/009_assignments_lifecycle_maximal_to_minimal_step_2.tf
  templates/resources/graph_beta_device_management_windows_feature_update_policy.md.tmpl
Due: none

chore: add plan modifier for unknown state in agent identity blueprint service principal resource
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource.go
Due: unittests, acceptancetests

chore: enhance acceptance test for agent identity blueprint password credential
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/tests/terraform/acceptance/resource_minimal.tf
Due: none

chore(main): release 0.44.1-alpha
  CHANGELOG.md
Due: none
