Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

chore: remove local build workflow (not for upstream)
  .github/workflows/manual-build.yml
Due: none

feat: add Global Secure Access content policy rule resource
  docs/resources/graph_beta_identity_and_access_network_content_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy_rule/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_create/post_content_policy_rule.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_create/post_content_policy_rule_error.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_delete/get_content_policy_rule_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_invalid_action.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_content_policy_rule.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add Global Secure Access content policy resource (#3317)
  docs/resources/graph_beta_identity_and_access_network_content_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_create/post_content_policy.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_create/post_content_policy_error.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_delete/get_content_policy_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_invalid_default_action.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_with_description.tf
  templates/resources/graph_beta_identity_and_access_network_content_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: winget app computed state drift (#3318)
  internal/services/resources/device_and_app_management/graph_beta/winget_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
Due: unittests, acceptancetests

feat: add windows custom configuration (OMA-URI) resource
  docs/resources/graph_beta_device_management_windows_custom_configuration.md
  examples/resources/microsoft365_graph_beta_device_management_windows_custom_configuration/import.sh
  examples/resources/microsoft365_graph_beta_device_management_windows_custom_configuration/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/crud.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/model.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/modify_plan.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/state.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/state_assignment.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/acceptance/resource_windows_custom_configuration_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_invalid_integer.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_updated.tf
Due: unittests, acceptancetests, provider-core

fix: address review findings for windows custom configuration
  docs/resources/graph_beta_device_management_windows_custom_configuration.md
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/crud.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/modify_plan.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/oma_setting_value.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_assign/post_windows_custom_configuration_assign_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_create/post_windows_custom_configuration_error.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_create/post_windows_custom_configuration_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_delete/get_windows_custom_configuration_not_found.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_get/get_oma_setting_plain_text_value.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_get/get_windows_custom_configuration.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_update/patch_windows_custom_configuration_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_duplicate_oma_uri.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_non_canonical_value.tf
Due: unittests, acceptancetests

docs: reference content policy in rule example
  docs/resources/graph_beta_identity_and_access_network_content_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy_rule/resource.tf
Due: none

refactor: reuse common helpers for content policy rules
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/response.go
Due: unittests, acceptancetests

fix: handle content policy rule updates
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests_test.go
Due: unittests, acceptancetests

refactor: reuse assignment state helper
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/state_assignment.go
Due: unittests, acceptancetests

fix: harden windows custom configuration validation
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/crud.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/oma_setting_value.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/oma_setting_value_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_missing_group_id.tf
Due: unittests, acceptancetests

feat: add windows custom configuration (OMA-URI) device profile resource (#3363)
  docs/resources/graph_beta_device_management_windows_custom_configuration.md
  examples/resources/microsoft365_graph_beta_device_management_windows_custom_configuration/import.sh
  examples/resources/microsoft365_graph_beta_device_management_windows_custom_configuration/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_assignment.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/construct_resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/crud.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/model.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/modify_plan.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/oma_setting_value.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/oma_setting_value_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/state.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/state_assignment.go
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_assign/post_windows_custom_configuration_assign_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_create/post_windows_custom_configuration_error.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_create/post_windows_custom_configuration_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_delete/get_windows_custom_configuration_not_found.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_get/get_oma_setting_plain_text_value.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_get/get_windows_custom_configuration.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/responses/validate_update/patch_windows_custom_configuration_success.json
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/acceptance/resource_windows_custom_configuration_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_duplicate_oma_uri.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_invalid_integer.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_missing_group_id.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_non_canonical_value.tf
  internal/services/resources/device_management/graph_beta/windows_custom_configuration/tests/terraform/unit/resource_windows_custom_configuration_updated.tf
Due: unittests, acceptancetests, provider-core

feat: add Global Secure Access content policy rule resource (#3364)
  docs/resources/graph_beta_identity_and_access_network_content_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy_rule/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_create/post_content_policy_rule.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_create/post_content_policy_rule_error.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/responses/validate_delete/get_content_policy_rule_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_invalid_action.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy_rule/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_content_policy_rule.md.tmpl
Due: unittests, acceptancetests, provider-core

chore(main): release 0.57.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.57.0-alpha (#3232)
  CHANGELOG.md
Due: none

fix(deps): update go.sum to remove deprecated dependencies and bump versions
  go.sum
Due: none

fix(deps): update go.sum to remove deprecated dependencies and bump versions (#3365)
  go.sum
Due: none

chore(main): release 0.57.1-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.57.1-alpha (#3366)
  CHANGELOG.md
Due: none

chore: remove manual build workflow from GitHub Actions. use makefile!
  .github/workflows/manual-build.yml
Due: none

chore:deps (#3367)
  .github/workflows/manual-build.yml
Due: none

docs: add full template for windows_managed_app_protection
  docs/resources/graph_beta_device_and_app_management_windows_managed_app_protection.md
  examples/resources/microsoft365_graph_beta_device_and_app_management_windows_managed_app_protection/import.sh
  templates/resources/graph_beta_device_and_app_management_windows_managed_app_protection.md.tmpl
Due: none

docs: sync generated docs with current templates and schema
  docs/resources/graph_beta_device_management_ios_ipados_device_enrollment_policy.md
  docs/resources/graph_beta_device_management_macos_device_enrollment_policy.md
  docs/resources/graph_beta_device_management_visionos_device_enrollment_policy.md
  docs/resources/graph_beta_identity_and_access_network_private_network.md
Due: none

chore: restore build workflow
  .github/workflows/manual-build.yml
Due: none

feat: add android managed app protection resource
  internal/provider/resources.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/crud.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/state.go
Due: unittests, acceptancetests, provider-core

fix: hardcode API defaults in resource.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource.go
Due: unittests, acceptancetests

feat: add android app protection unit and acceptance tests
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/responders_1.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/005_error_scenario.tf
Due: unittests, acceptancetests

chore: remove workflow build
  .github/workflows/manual-build.yml
Due: none

chore: update Graph API permissions via automated pipeline
  templates/resources/graph_beta_device_and_app_management_windows_managed_app_protection.md.tmpl
Due: none

chore: build workflow restored
  .github/workflows/manual-build.yml
Due: none

fix: crud.go changes to work with app protection policies
  internal/services/resources/device_and_app_management/graph_beta/android_managed_mobile_app/crud.go
Due: unittests, acceptancetests

fix: support multiple on-premises IP segment protocols
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_fqdn.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_ip_range_cidr.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_minimal_ip_address.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_tcp_udp_protocols.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_udp_protocol.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_wildcard_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/model.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state_migrations.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_minimal.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests

test: remove redundant protocol coverage
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_tcp_udp_protocols.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: none

test: normalize mock protocols by component
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
Due: none

test: cover IP segment protocol state migration
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state_migrations_test.go
Due: none

fix: support multiple on-premises IP segment protocols (#3449)
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_fqdn.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_ip_range_cidr.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_minimal_ip_address.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_udp_protocol.tf
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_wildcard_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/model.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state_migrations.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/state_migrations_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_minimal.tf
Due: unittests, acceptancetests

chore(deps): update licensing service plan reference data
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json.old
Due: unittests, acceptancetests

feat: support ipRange destination type for on-premises IP application segments
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_ip_range_start_end.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_ip_range_start_end.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_ip_range_start_end.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests
