Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

chore: update coverage data parsing in get_codecov_coverage.py
  scripts/pipeline/pr/lib/get_codecov_coverage.py
Due: none

chore: enhance coverage data handling in get_codecov_coverage.py
  .github/workflows/sdk-version-check.yml
  scripts/pipeline/sdk_diff/lib/__init__.py
  scripts/pipeline/sdk_diff/lib/__pycache__/diff_analyzer.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/github_api.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/go_parser.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/version_detector.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/diff_analyzer.py
  scripts/pipeline/sdk_diff/lib/github_api.py
  scripts/pipeline/sdk_diff/lib/go_parser.py
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/lib/version_detector.py
  scripts/pipeline/sdk_diff/steps/analyze_changes.py
  scripts/pipeline/sdk_diff/steps/detect_versions.py
  scripts/pipeline/sdk_diff/steps/generate_report.py
  scripts/pipeline/sdk_diff/steps/map_usage.py
  scripts/pipeline/sdk_diff/test_local.sh
  scripts/pipeline/sdk_diff/tools/extract_usage.go
Due: none

chore: remove SDK Schema Change Detection workflow
  .github/workflows/sdk-schema-change-detection.yml
  .github/workflows/sdk-version-check.yml
Due: none

chore: tidy up
  .github/workflows/sdk-version-check.yml
  scripts/pipeline/sdk_diff/lib/__pycache__/diff_analyzer.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/github_api.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/go_parser.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/__pycache__/version_detector.cpython-314.pyc
  scripts/pipeline/sdk_diff/lib/diff_analyzer.py
  scripts/pipeline/sdk_diff/lib/github_api.py
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/steps/analyze_changes.py
  scripts/pipeline/sdk_diff/steps/detect_versions.py
  scripts/pipeline/sdk_diff/steps/generate_report.py
  scripts/pipeline/sdk_diff/steps/map_usage.py
Due: none

feat: add enum change analysis and reporting
  scripts/pipeline/sdk_diff/lib/diff_analyzer.py
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/steps/analyze_changes.py
  scripts/pipeline/sdk_diff/tools/extract_usage.go
  scripts/pipeline/sdk_diff/tools/extract_usage_test.go
Due: none

feat: add comprehensive AST analysis tests for SDK usage tracking
  .gitignore
  scripts/pipeline/sdk_diff/tools/extract_usage_test.go
Due: none

chore: enhance SDK diff report generation and workflow clarity
  .github/workflows/pr-tests.yml
  .github/workflows/sdk-version-check.yml
  scripts/pipeline/sdk_diff/lib/diff_analyzer.py
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/steps/generate_report.py
Due: none

chore: update report file names and references for clarity
  .github/workflows/sdk-version-check.yml
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/steps/generate_report.py
Due: none

chore: refactor SDK usage extraction to a resource-centric model
  scripts/pipeline/sdk_diff/lib/diff_analyzer.py
  scripts/pipeline/sdk_diff/lib/go_parser.py
  scripts/pipeline/sdk_diff/lib/report_generator.py
  scripts/pipeline/sdk_diff/steps/map_usage.py
  scripts/pipeline/sdk_diff/tools/extract_usage.go
  scripts/pipeline/sdk_diff/tools/extract_usage_test.go
Due: none

feat: added datasource microsoft365_utility_guid_list_sharder
  docs/guides/progressive_rollout_with_guid_list_sharder.md
  internal/provider/datasources.go
  internal/services/common/validate/attribute/int64_list.go
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/model.go
  internal/services/datasources/utility/guid_list_sharder/state.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/03_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/04_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/05_users_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/06_users_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/09_group_members_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/10_group_members_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/11_group_members_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/12_group_members_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_devices_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_devices_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/15_devices_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/16_devices_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/17_devices_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/18_devices_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/19_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/20_integration_group_assignment.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/21_special_single_shard.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/22_special_no_filter.tf
Due: unittests, acceptancetests, provider-core

refactor: rename setComputedState to setStateToTerraform for clarity
  internal/services/datasources/utility/guid_list_sharder/datasource_test.go
  internal/services/datasources/utility/guid_list_sharder/helpers.go
  internal/services/datasources/utility/guid_list_sharder/mocks/responders.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/datasources/utility/guid_list_sharder/state.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/20_integration_group_assignment.tf
Due: unittests, acceptancetests

refactor: remove hash strategy from guid list sharder
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/datasource_acceptance_test.go
  internal/services/datasources/utility/guid_list_sharder/datasource_test.go
  internal/services/datasources/utility/guid_list_sharder/helpers.go
  internal/services/datasources/utility/guid_list_sharder/helpers_test.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/datasources/utility/guid_list_sharder/state.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/03_users_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/04_users_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/05_group_members_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/06_group_members_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/09_devices_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/10_devices_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/11_devices_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/12_devices_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_devices_hash_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_devices_hash_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_integration_group_assignment.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/15_special_single_shard.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/16_special_no_filter.tf
Due: unittests, acceptancetests

chore: update odata_query syntax and enhance test coverage for GUID list sharding
  docs/guides/progressive_rollout_with_guid_list_sharder.md
  internal/services/datasources/utility/guid_list_sharder/helpers.go
  internal/services/datasources/utility/guid_list_sharder/helpers_test.go
  internal/services/datasources/utility/guid_list_sharder/model.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/05_users_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/06_users_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/09_group_members_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/10_group_members_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/11_group_members_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/12_group_members_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_devices_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_devices_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/15_devices_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/16_devices_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/17_devices_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/18_devices_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/19_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/20_integration_group_assignment.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/21_special_single_shard.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/22_special_no_filter.tf
Due: unittests, acceptancetests

refactor: rename acceptance test for GUID list sharder and update configuration
  internal/services/datasources/utility/guid_list_sharder/datasource_acceptance_test.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_round_robin_no_seed.tf
Due: none

chore: enhance GUID list sharder with size-based sharding strategy
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/datasource_test.go
  internal/services/datasources/utility/guid_list_sharder/model.go
  internal/services/datasources/utility/guid_list_sharder/read.go
Due: unittests, acceptancetests

refactor: update odata_query syntax for consistency across tests
  docs/guides/progressive_rollout_with_guid_list_sharder.md
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/03_users_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/04_users_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/19_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/21_special_single_shard.tf
Due: none

chore: improve acceptance tests for GUID list sharder with comprehensive validation
  internal/services/datasources/utility/guid_list_sharder/datasource_acceptance_test.go
  internal/services/datasources/utility/guid_list_sharder/state.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/03_users_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/04_users_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/05_users_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/06_users_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/09_group_members_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/10_group_members_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/11_group_members_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/12_group_members_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_devices_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_devices_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/15_devices_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/16_devices_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/17_devices_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/18_devices_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/19_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/20_integration_group_assignment.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/21_special_single_shard.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/22_special_no_filter.tf
Due: unittests, acceptancetests

chore: remove unused output variables from acceptance test for GUID list sharder
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_round_robin_no_seed.tf
Due: none

chore: add acceptance test for GUID list sharder with seed-based distribution
  internal/services/datasources/utility/guid_list_sharder/datasource_acceptance_test.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/02_users_round_robin_with_seed.tf
Due: none

feat: added datasource microsoft365_utility_guid_list_sharder (#2032)
  docs/guides/progressive_rollout_with_guid_list_sharder.md
  internal/provider/datasources.go
  internal/services/common/validate/attribute/int64_list.go
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/datasource_acceptance_test.go
  internal/services/datasources/utility/guid_list_sharder/datasource_test.go
  internal/services/datasources/utility/guid_list_sharder/helpers.go
  internal/services/datasources/utility/guid_list_sharder/helpers_test.go
  internal/services/datasources/utility/guid_list_sharder/mocks/responders.go
  internal/services/datasources/utility/guid_list_sharder/model.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/datasources/utility/guid_list_sharder/state.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/02_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/01_users_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/02_users_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/03_users_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/04_users_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/05_users_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/06_users_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/07_group_members_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/08_group_members_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/09_group_members_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/10_group_members_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/11_group_members_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/12_group_members_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/13_devices_round_robin_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/14_devices_round_robin_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/15_devices_percentage_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/16_devices_percentage_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/17_devices_size_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/18_devices_size_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/19_integration_conditional_access.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/20_integration_group_assignment.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/21_special_single_shard.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/22_special_no_filter.tf
Due: unittests, acceptancetests, provider-core

chore(main): release 0.42.0-alpha
  CHANGELOG.md
Due: none

chore: remove progressive rollout guide for GUID List Sharder
  docs/guides/guid_list_sharder.md
  docs/guides/progressive_rollout_with_guid_list_sharder.md
  internal/services/datasources/utility/guid_list_sharder/datasource.go
  internal/services/datasources/utility/guid_list_sharder/datasource_test.go
  internal/services/datasources/utility/guid_list_sharder/helpers.go
  internal/services/datasources/utility/guid_list_sharder/read.go
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/examples/rendezvous_example.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/23_users_rendezvous_no_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/24_users_rendezvous_with_seed.tf
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/unit/25_rendezvous_stability_test.tf
Due: unittests, acceptancetests

chore: update documentation for GUID List Sharder
  docs/data-sources/utility_guid_list_sharder.md
  examples/data-sources/microsoft365_utility_guid_list_sharder/01_basic_round_robin.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/01_round_robin_equal_shards.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/02_basic_percentage.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/02_percentage_phased_rollout.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/03_basic_size.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/03_fixed_size_pilot.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/04_basic_rendezvous.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/04_rendezvous_stable.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/05_conditional_access_rollout.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/05_scenario_devices_to_settings_catalog.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/06_group_members.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/06_scenario_group_members_to_ca_policy.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/07_device_distribution.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/07_scenario_devices_quality_updates_phased.tf
  templates/data-sources/utility_guid_list_sharder.md.tmpl
Due: none

chore: update documentation for GUID List Sharder (#2034)
  docs/data-sources/utility_guid_list_sharder.md
  examples/data-sources/microsoft365_utility_guid_list_sharder/01_basic_round_robin.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/01_round_robin_equal_shards.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/02_basic_percentage.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/02_percentage_phased_rollout.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/03_basic_size.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/03_fixed_size_pilot.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/04_basic_rendezvous.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/04_rendezvous_stable.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/05_conditional_access_rollout.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/05_scenario_devices_to_settings_catalog.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/06_group_members.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/06_scenario_group_members_to_ca_policy.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/07_device_distribution.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/07_scenario_devices_quality_updates_phased.tf
  templates/data-sources/utility_guid_list_sharder.md.tmpl
Due: none

chore(main): release 0.42.0-alpha (#2013)
  CHANGELOG.md
Due: none

chore: enhance bi-weekly tests workflow and resource management
  .github/workflows/bi-weekly-tests.yml
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/resource.go
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/01_minimal-no-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/02_maximal-no-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/03_minimal-to-maximal-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/03_minimal-to-maximal-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/04_maximal-to-minimal-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/04_maximal-to-minimal-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/05_minimal-minimal-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/06_minimal-maximal-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/07_minimal-assignments-to-maximal-assignments-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/07_minimal-assignments-to-maximal-assignments-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/08_maximal-assignments-to-minimal-assignments-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/08_maximal-assignments-to-minimal-assignments-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/09_error-invalid-policy-xml.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/acceptance/10_removed-policy.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/01_minimal-no-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/02_maximal-no-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/03_minimal-to-maximal-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/03_minimal-to-maximal-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/04_maximal-to-minimal-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/04_maximal-to-minimal-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/05_minimal-minimal-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/06_minimal-maximal-assignments.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/07_minimal-assignments-to-maximal-assignments-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/07_minimal-assignments-to-maximal-assignments-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/08_maximal-assignments-to-minimal-assignments-step1.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/08_maximal-assignments-to-minimal-assignments-step2.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/09_error-invalid-policy-xml.tf
  internal/services/resources/device_management/graph_beta/app_control_for_business_policy/tests/terraform/unit/10_removed-policy.tf
  scripts/pipeline/bi_weekly_tests/generate-test-matrix.py
  scripts/pipeline/bi_weekly_tests/run-tests.py
Due: unittests, acceptancetests

chore: refactor bi-weekly tests workflow and remove obsolete scripts
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/detect_job_failures.py
  scripts/pipeline/bi_weekly_tests/generate-test-matrix.py
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
  scripts/pipeline/bi_weekly_tests/manage_job_failure_issues.py
  scripts/pipeline/bi_weekly_tests/manage_test_issues.py
  scripts/pipeline/bi_weekly_tests/map_credentials.py
  scripts/pipeline/bi_weekly_tests/merge_test_results.py
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: none

chore: enhance bi-weekly tests workflow with dynamic matrix generation
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: none

chore: enhance bi-weekly tests with auto-discovery of services
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: none

Chore/test harness (#2062)
  .github/workflows/bi-weekly-tests.yml
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: none

refactor: remove Windows Autopilot Device CSV Import functionality
  internal/provider/ephemeral_resources.go
  internal/services/ephemerals/utility/graph_beta/windows_autopilot_device_csv_import/csv_reader.go
  internal/services/ephemerals/utility/graph_beta/windows_autopilot_device_csv_import/ephemeral_resource.go
  internal/services/ephemerals/utility/graph_beta/windows_autopilot_device_csv_import/model.go
  internal/services/ephemerals/utility/graph_beta/windows_autopilot_device_csv_import/open.go
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
Due: unittests, acceptancetests, provider-core

chore: update test matrix generation to use items per shard
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
Due: none

chore: enhance resource discovery with verbose logging
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
Due: none

chore: update service path handling in test failure processing
  scripts/pipeline/bi_weekly_tests/manage_test_issues.py
Due: none

chore: increase timeout for bi-weekly tests job
  .github/workflows/bi-weekly-tests.yml
Due: none

chore: extend test type options in run_tests.py
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: none

chore: update documentation and examples for Windows Device Compliance Policies
  docs/data-sources/utility_guid_list_sharder.md
  docs/resources/graph_beta_device_management_app_control_for_business_policy.md
  docs/resources/graph_beta_device_management_windows_device_compliance_policy.md
  examples/data-sources/microsoft365_utility_guid_list_sharder/03_basic_size.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/05_scenario_devices_to_settings_catalog.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/06_scenario_group_members_to_ca_policy.tf
  examples/data-sources/microsoft365_utility_guid_list_sharder/07_scenario_devices_quality_updates_phased.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/custom_compliance.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/device_health.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/device_properties.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/microsoft_defender_for_endpoint.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/resource.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/system_security.tf
  examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/wsl_assignments.tf
  internal/services/resources/device_management/graph_beta/development_status.md
  internal/services/resources/device_management/graph_beta/device_compliance_notification_template/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_custom_compliance.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_device_health.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_device_properties.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_microsoft_defender_for_endpoint.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_system_security.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_wsl.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/acceptance/compliance_policy_wsl_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/terraform/unit/resource_windows_minimal.tf
  scripts/pipeline/bi_weekly_tests/run_tests.py
  scripts/pipeline/sdk_diff/test_local.sh
  templates/resources/graph_beta_device_management_windows_device_compliance_policy.md.tmpl
Due: unittests, acceptancetests

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
