Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

fix: assiging P30D as default string
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource.go
Due: unittests, acceptancetests

fix: remove UseStateForUnknown from last_modified_date_time and version fields
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource.go
Due: unittests, acceptancetests

docs: add example configuration for windows managed app protection resource
  examples/resources/microsoft365_graph_beta_device_and_app_management_windows_managed_app_protection/resource.tf
Due: none

docs: add documentation for windows managed app protection resource
  docs/resources/graph_beta_device_and_app_management_windows_managed_app_protection.md
Due: none

chore: remove local build workflow before upstream PR
  .github/workflows/manual-build.yml
Due: none

feat: add graph beta network private network resource
  docs/resources/graph_beta_identity_and_access_network_private_network.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_private_network/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_private_network/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/model.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/response.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/state.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/get_private_network_maximal.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/get_private_network_minimal.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/post_private_network.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/post_private_network_error.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_delete/get_private_network_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_invalid.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_network_private_network.md.tmpl
Due: unittests, acceptancetests, provider-core

fix: align private network schema defaults
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource.go
Due: unittests, acceptancetests

fix: validate private network ip resolution fields
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_invalid_range.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/validators.go
Due: unittests, acceptancetests

feat: Adds a Microsoft Entra Global Secure Access Intelligent Local Access (#3263)
  docs/resources/graph_beta_identity_and_access_network_private_network.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_private_network/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_private_network/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/model.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/response.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/state.go
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/get_private_network_maximal.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/get_private_network_minimal.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/post_private_network.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_create/post_private_network_error.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/responses/validate_delete/get_private_network_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_invalid.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_invalid_range.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/tests/terraform/unit/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_private_network/validators.go
  templates/resources/graph_beta_identity_and_access_network_private_network.md.tmpl
Due: unittests, acceptancetests, provider-core

Add Internet Access forwarding policy support
  docs/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md
  docs/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  docs/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/01_list_all.tf
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/02_by_name.tf
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/03_by_traffic_forwarding_type.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule/resource.tf
  internal/provider/datasources.go
  internal/provider/resources.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/datasource.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/model.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/read.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/state.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/construct_test.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/model.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/state.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/state_test.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/model.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/response.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/state.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/state_test.go
  templates/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md.tmpl
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests, provider-core

Align forwarding profile datasource query schema
  docs/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md
  docs/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  docs/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/01_list_all.tf
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/02_by_name.tf
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile/03_by_traffic_forwarding_type.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule/resource.tf
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/datasource.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/model.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/read.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/read_test.go
  templates/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md.tmpl
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests

Clarify forwarding policy link identifiers
  docs/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md
  docs/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile/datasource.go
  internal/services/resources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/resource.go
  templates/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md.tmpl
  templates/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md.tmpl
Due: unittests, acceptancetests

fix: verify group license assignment changes are actually applied
  internal/services/common/crud/poll.go
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/predicate.go
  internal/services/resources/groups/graph_beta/license_assignment/state.go
Due: unittests, acceptancetests

fix: verify user license assignment changes are actually applied
  internal/services/resources/users/graph_beta/license_assignment/crud.go
  internal/services/resources/users/graph_beta/license_assignment/predicate.go
  internal/services/resources/users/graph_beta/license_assignment/state.go
Due: unittests, acceptancetests

Harden Internet Access rule live behavior
  docs/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule/resource.tf
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_internet_access_forwarding_policy_rule/resource.go
  templates/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md.tmpl
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests

Document M365 forwarding policy link state support
  docs/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  templates/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md.tmpl
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: none

Record M365 policy link live patch evidence
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: none

Add forwarding profile policy link data source
  docs/data-sources/graph_beta_identity_and_access_network_forwarding_profile.md
  docs/data-sources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  docs/resources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md
  docs/resources/graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule.md
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/01_by_policy_name.tf
  examples/data-sources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/02_m365_exchange_online.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_forwarding_profile_policy_link/resource.tf
  examples/resources/microsoft365_graph_beta_identity_and_access_network_internet_access_forwarding_policy_rule/resource.tf
  internal/provider/datasources.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/datasource.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/model.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/read.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/read_test.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/state.go
  internal/services/datasources/identity_and_access/graph_beta/network_forwarding_profile_policy_link/state_test.go
  templates/data-sources/graph_beta_identity_and_access_network_forwarding_profile_policy_link.md.tmpl
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests, provider-core

fix: harden license assignment read verification
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/users/graph_beta/license_assignment/crud.go
Due: unittests, acceptancetests

fix: preserve confirmed license presence state
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/users/graph_beta/license_assignment/crud.go
Due: unittests, acceptancetests

fix: add UseStateForUnknown plan modifiers to computed attributes
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
Due: unittests, acceptancetests

chore: local CI workflow for testing (not upstream)
  .github/workflows/manual-build.yml
Due: none

fix: large_icon, manifest_hash fix
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
Due: unittests, acceptancetests

fix: construct.go fix
  internal/services/resources/device_and_app_management/graph_beta/winget_app/construct.go
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/resources/device_management/graph_beta/ios_ipados_device_enrollment_policy/resource.go
  internal/services/resources/device_management/graph_beta/macos_device_enrollment_policy/resource.go
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/resource.go
  templates/resources/graph_beta_device_management_ios_ipados_device_enrollment_policy.md.tmpl
  templates/resources/graph_beta_device_management_macos_device_enrollment_policy.md.tmpl
  templates/resources/graph_beta_device_management_visionos_device_enrollment_policy.md.tmpl
Due: unittests, acceptancetests

fix: handle Entra eventual consistency in service principal token lifetime policy assignment
  internal/services/common/crud/write_with_retry.go
  internal/services/common/errors/kiota/retryable.go
  internal/services/common/errors/kiota/retryable_write_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/predicate.go
Due: unittests, acceptancetests

test: add coverage for WriteWithRetry and the eventual-consistency create path
  internal/services/common/crud/write_with_retry_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/resource_test.go
Due: none

refactor: verify policy propagation before assignment instead of retrying the create
  internal/services/common/crud/write_with_retry.go
  internal/services/common/crud/write_with_retry_test.go
  internal/services/common/errors/kiota/retryable.go
  internal/services/common/errors/kiota/retryable_write_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/resource_test.go
Due: unittests, acceptancetests

fix: verify group and user license assignment changes are actually applied before reporting success (#3264)
  internal/services/common/crud/poll.go
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/predicate.go
  internal/services/resources/groups/graph_beta/license_assignment/state.go
  internal/services/resources/users/graph_beta/license_assignment/crud.go
  internal/services/resources/users/graph_beta/license_assignment/predicate.go
  internal/services/resources/users/graph_beta/license_assignment/state.go
Due: unittests, acceptancetests

refactor: use crud.PollUntil for the policy propagation wait
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/crud.go
Due: unittests, acceptancetests

test(mam): add unit and acceptance tests for windows managed app protection
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_003_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_003_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_004_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/acc_004_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/005_error_scenario.tf
Due: unittests, acceptancetests

chore: restore local build workflow
  .github/workflows/manual-build.yml
Due: none

fix(mam): rename acceptance test fixtures to match expected filenames in test code
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
Due: none

feat: windows managed app protection (#3262)
  .github/workflows/manual-build.yml
  docs/resources/graph_beta_device_and_app_management_windows_managed_app_protection.md
  examples/resources/microsoft365_graph_beta_device_and_app_management_windows_managed_app_protection/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/crud.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/state.go
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/windows_managed_app_protection/tests/terraform/unit/005_error_scenario.tf
Due: unittests, acceptancetests, provider-core

feat: add Global Secure Access content policy
  docs/resources/graph_beta_identity_and_access_network_content_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_network_content_policy/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/response.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/state.go
  templates/resources/graph_beta_identity_and_access_network_content_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

docs: record denied content policy action probe
  docs/resources/graph_beta_identity_and_access_network_content_policy.md
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource.go
  templates/resources/graph_beta_identity_and_access_network_content_policy.md.tmpl
Due: unittests, acceptancetests

fix: manage content policy description explicitly
  docs/resources/graph_beta_identity_and_access_network_content_policy.md
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource.go
Due: unittests, acceptancetests

test: add content policy CRUD mock coverage
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/requests_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_create/post_content_policy.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_create/post_content_policy_error.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/responses/validate_delete/get_content_policy_not_found.json
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_invalid_default_action.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/network_content_policy/tests/terraform/unit/resource_with_description.tf
Due: unittests, acceptancetests

fix: handle Entra eventual consistency when creating service principal token lifetime policy assignments (#3316)
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/predicate.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/resource_test.go
Due: unittests, acceptancetests
