Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

feat: validate ipRange destination host format at plan time
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
Due: unittests, acceptancetests

feat: support ipRange destination type for on-premises IP application segments (#3490)
  docs/resources/graph_beta_applications_on_premises_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_on_premises_ip_application_segment/resource_ip_range_start_end.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/construct_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/mocks/responders.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/acceptance/resource_ip_range_start_end.tf
  internal/services/resources/applications/graph_beta/on_premises_ip_application_segment/tests/terraform/unit/resource_ip_range_start_end.tf
  templates/resources/graph_beta_applications_on_premises_ip_application_segment.md.tmpl
Due: unittests, acceptancetests

chore(main): release 0.58.0-alpha
  CHANGELOG.md
Due: none

feat: add alternative_names and saml_single_sign_on_settings to the service principal resource
  docs/resources/graph_beta_applications_service_principal.md
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/predicate.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

feat: add service principal token signing certificate resource
  docs/resources/graph_beta_applications_service_principal_token_signing_certificate.md
  examples/resources/microsoft365_graph_beta_applications_service_principal_token_signing_certificate/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_token_signing_certificate/resource.tf
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/construct.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/model.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/predicate.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/state.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/acceptance/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/unit/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/unit/resource_02_defaults.tf
  templates/resources/graph_beta_applications_service_principal_token_signing_certificate.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add service principal preferred token signing key thumbprint resource
  docs/resources/graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint.md
  examples/resources/microsoft365_graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint/resource.tf
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/construct.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/crud.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/model.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/predicate.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/state.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/acceptance/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_02_rotated.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_03_uppercase.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_04_invalid.tf
  templates/resources/graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint.md.tmpl
Due: unittests, acceptancetests, provider-core

feat!: model the service principal's own properties and drop application-derived ones
  docs/resources/graph_beta_applications_service_principal.md
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/predicate.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
  internal/services/resources/applications/graph_beta/service_principal/state_attr_types.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

test: cover the service principal credential mapping
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
Due: none

fix: harden explicit-null clears and Graph fidelity of the service principal tests
  docs/resources/graph_beta_applications_service_principal.md
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

docs: state the service principal's application-derived-property policy on the resource
  docs/resources/graph_beta_applications_service_principal.md
  internal/services/resources/applications/graph_beta/service_principal/resource.go
Due: unittests, acceptancetests

chore(deps): update licensing service plan reference data
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json.old
Due: unittests, acceptancetests

feat: add role_scope_tag_ids to beta device management role assignment
  examples/resources/microsoft365_graph_beta_device_management_role_assignment/resource.tf
  internal/services/resources/device_management/graph_beta/role_assignment/construct.go
  internal/services/resources/device_management/graph_beta/role_assignment/mocks/responders.go
  internal/services/resources/device_management/graph_beta/role_assignment/model.go
  internal/services/resources/device_management/graph_beta/role_assignment/resource.go
  internal/services/resources/device_management/graph_beta/role_assignment/resource_test.go
  internal/services/resources/device_management/graph_beta/role_assignment/state.go
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_all_devices.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_maximal.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_minimal.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/terraform/unit/resource_maximal.tf
Due: unittests, acceptancetests

feat: model the service principal's own properties and drop application-derived ones (#3492)
  docs/resources/graph_beta_applications_service_principal.md
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/predicate.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
  internal/services/resources/applications/graph_beta/service_principal/state_attr_types.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

chore: untrack manual build, add to gitignore
  .github/workflows/manual-build.yml
  .gitignore
Due: none

refactor(android managed app protection): rename responders file, externalise JSON files
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/responders_1.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/error_response.json
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/maximal_response.json
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/minimal_response.json
Due: none

feat: add role_scope_tag_ids to beta device management role assignment (#3607)
  examples/resources/microsoft365_graph_beta_device_management_role_assignment/resource.tf
  internal/services/resources/device_management/graph_beta/role_assignment/construct.go
  internal/services/resources/device_management/graph_beta/role_assignment/mocks/responders.go
  internal/services/resources/device_management/graph_beta/role_assignment/model.go
  internal/services/resources/device_management/graph_beta/role_assignment/resource.go
  internal/services/resources/device_management/graph_beta/role_assignment/resource_test.go
  internal/services/resources/device_management/graph_beta/role_assignment/state.go
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_all_devices.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_maximal.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/responses/validate_create/get_role_assignment_minimal.json
  internal/services/resources/device_management/graph_beta/role_assignment/tests/terraform/unit/resource_maximal.tf
Due: unittests, acceptancetests

fix(android_managed_app_protection): use int32 for maximum_pin_retries, minimum_pin_length and deployed_app_count
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/state.go
Due: unittests, acceptancetests

feat: support Entra ID SAML SSO token signing certificate lifecycle for service principals (#3491)
  docs/resources/graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint.md
  docs/resources/graph_beta_applications_service_principal_token_signing_certificate.md
  examples/resources/microsoft365_graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint/resource.tf
  examples/resources/microsoft365_graph_beta_applications_service_principal_token_signing_certificate/import.sh
  examples/resources/microsoft365_graph_beta_applications_service_principal_token_signing_certificate/resource.tf
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/construct.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/crud.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/model.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/predicate.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/state.go
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/acceptance/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_02_rotated.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_03_uppercase.tf
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/tests/terraform/unit/resource_04_invalid.tf
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/construct.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/model.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/predicate.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/state.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/acceptance/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/unit/resource_01.tf
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/tests/terraform/unit/resource_02_defaults.tf
  templates/resources/graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint.md.tmpl
  templates/resources/graph_beta_applications_service_principal_token_signing_certificate.md.tmpl
Due: unittests, acceptancetests, provider-core

fix(settings_catalog_template_json): read assignments from /assignments endpoint
  internal/services/resources/device_management/graph_beta/settings_catalog_template_json/crud.go
  internal/services/resources/device_management/graph_beta/settings_catalog_template_json/state.go
Due: unittests, acceptancetests

fix(settings_catalog_template_json): read assignments from /assignmen… (#3623)
  internal/services/resources/device_management/graph_beta/settings_catalog_template_json/crud.go
  internal/services/resources/device_management/graph_beta/settings_catalog_template_json/state.go
Due: unittests, acceptancetests

feat: android managed app protection (#3369)
  .gitignore
  internal/provider/resources.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/crud.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/error_response.json
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/maximal_response.json
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/minimal_response.json
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/state.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/tests/terraform/unit/005_error_scenario.tf
  internal/services/resources/device_and_app_management/graph_beta/android_managed_mobile_app/crud.go
Due: unittests, acceptancetests, provider-core

feat: support automatic mode device group assignments
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/007_scenario_automatic_without_device_security_group.tf
Due: unittests, acceptancetests

feat: support automatic mode device group assignments (#3624)
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/007_scenario_automatic_without_device_security_group.tf
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/resources/applications/graph_beta/service_principal_preferred_token_signing_key_thumbprint/resource.go
  internal/services/resources/applications/graph_beta/service_principal_token_signing_certificate/resource.go
  templates/resources/graph_beta_applications_service_principal_preferred_token_signing_key_thumbprint.md.tmpl
  templates/resources/graph_beta_applications_service_principal_token_signing_certificate.md.tmpl
Due: unittests, acceptancetests

chore(main): release 1.0.0-alpha
  CHANGELOG.md
Due: none

fix: change regex in package_identifier to match microsoft graph api
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
Due: unittests, acceptancetests

fix: preserve Win32 app content and application identity
  docs/resources/graph_beta_device_and_app_management_win32_app.md
  internal/services/common/schema/graph_beta/device_and_app_management/mobile_application_metadata.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/content_state.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/content_upload.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/package_content.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/win32_app/state.go
  templates/resources/graph_beta_device_and_app_management_win32_app.md.tmpl
Due: unittests, acceptancetests

feat: add IosManagedAppProtection to resources.go file
  internal/provider/resources.go
Due: unittests, acceptancetests, provider-core

feat: base files for ios managed app protection functionality resource
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/construct.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/crud.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/model.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/modifyplan.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/state.go
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/groups/graph_beta/group/datasource.go
  internal/services/resources/agents/graph_beta/agent_identity/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_federated_identity_credential/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/resource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/groups/graph_beta/group/resource.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_member_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_owner_assignment/resource.go
  internal/services/resources/groups/graph_beta/license_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/administrative_unit_membership/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  internal/services/resources/utility/guid_list_sharder/resource.go
  templates/data-sources/graph_beta_groups_group.md.tmpl
  templates/resources/graph_beta_agents_agent_identity.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint_certificate_credential.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint_federated_identity_credential.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint_identifier_uri.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint_password_credential.md.tmpl
  templates/resources/graph_beta_agents_agent_identity_blueprint_service_principal.md.tmpl
  templates/resources/graph_beta_applications_service_principal_app_role_assigned_to.md.tmpl
  templates/resources/graph_beta_device_management_windows_device_compliance_policy.md.tmpl
  templates/resources/graph_beta_groups_group.md.tmpl
  templates/resources/graph_beta_groups_group_app_role_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_lifecycle_expiration_policy_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_member_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_owner_assignment.md.tmpl
  templates/resources/graph_beta_groups_license_assignment.md.tmpl
  templates/resources/graph_beta_identity_and_access_administrative_unit_membership.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_default_settings.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
Due: unittests, acceptancetests

fix: just fixed a syntax issue in android app protection tests
  internal/services/resources/device_and_app_management/graph_beta/android_managed_app_protection/mocks/testdata/maximal_response.json
Due: none

feat: add the testing files and data for this new resource
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/mocks/testdata/error_response.json
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/mocks/testdata/maximal_response.json
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/mocks/testdata/minimal_response.json
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_acceptance_test.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/resource_test_helper.go
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/001_scenario_minimal.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/002_scenario_maximal.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/003_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/004_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/unit/005_error_scenario.tf
Due: unittests, acceptancetests

fix(mobile_app_assignment): omit is_removable for non-required intent
  docs/resources/graph_beta_device_and_app_management_mobile_app_assignment.md
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/construct.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/mocks/responders.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/resource_test.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_lob.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_store.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_available_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_required_ios_vpp_omitted.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_uninstall_ios_vpp.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_unknown_intent.tf
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/validate_config.go
Due: unittests, acceptancetests

fix(mobile_app_assignment): defer on unknown configured is_removable
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/modify_plan.go
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_assignment/tests/terraform/unit/resource_unknown_intent.tf
Due: unittests, acceptancetests

fix(winget_app): allow dots, hyphens and underscores in package_identifier
  hardcoded_waits_audit.md
  internal/constants/regex.go
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests

fix(winget_app): allow dots, hyphens and underscores in package_identifier (#3694)
  hardcoded_waits_audit.md
  internal/constants/regex.go
  internal/services/resources/device_and_app_management/graph_beta/winget_app/resource.go
  tmp/internet-access-policy/graph-contract.md
  tmp/internet-access-policy/pr-comment.md
Due: unittests, acceptancetests

feat: acceptance scenario minimal 001
  internal/services/resources/device_and_app_management/graph_beta/ios_managed_app_protection/tests/terraform/acceptance/001_scenario_minimal.tf
Due: none

fix(visionos_device_enrollment_policy): match model field to schema attribute
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/construct.go
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/model.go
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/state_settings.go
Due: unittests, acceptancetests

fix(visionos_device_enrollment_policy): match model field to schema attribute (#3697)
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/construct.go
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/model.go
  internal/services/resources/device_management/graph_beta/visionos_device_enrollment_policy/state_settings.go
Due: unittests, acceptancetests
