Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#3141)
  .github/dependabot.yml
Due: none

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/users/graph_beta/user/datasource.go
  templates/data-sources/graph_beta_users_user.md.tmpl
Due: unittests, acceptancetests

fix: update minimum supported Windows release in Win32LobAppResource schema
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
Due: unittests, acceptancetests

fix: update minimum supported Windows release in Win32LobAppResource schema (#3153)
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
Due: unittests, acceptancetests

fix: deprecate detection_rules and requirement_rules in Win32LobAppResource schema
  go.sum
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
Due: unittests, acceptancetests

docs: bump
  docs/data-sources/graph_beta_users_user.md
  docs/resources/graph_beta_device_and_app_management_win32_app.md
Due: none

fix: deprecate detection_rules and requirement_rules in Win32LobAppResource schema (#3154)
  docs/data-sources/graph_beta_users_user.md
  docs/resources/graph_beta_device_and_app_management_win32_app.md
  go.sum
  internal/services/resources/device_and_app_management/graph_beta/win32_app/resource.go
Due: unittests, acceptancetests

fix: add MinimumFreeDiskSpaceInMB to Win32LobAppResource schema
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
Due: unittests, acceptancetests

fix: add MinimumFreeDiskSpaceInMB to Win32LobAppResource schema (#3155)
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
Due: unittests, acceptancetests

chore(main): release 0.55.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.55.0-alpha (#3140)
  CHANGELOG.md
Due: none

fix: add minimum resource requirements to Win32LobAppResource schema
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
Due: unittests, acceptancetests

fix: add minimum resource requirements to Win32LobAppResource schema (#3159)
  internal/services/resources/device_and_app_management/graph_beta/win32_app/construct.go
Due: unittests, acceptancetests

chore(main): release 0.55.1-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.55.1-alpha (#3160)
  CHANGELOG.md
Due: none

fix: add claims matching expression support to application federated identity credential
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_02_maximal.tf
Due: none

fix: application federated identity credential (#3171)
  docs/resources/graph_beta_applications_application_federated_identity_credential.md
  examples/resources/microsoft365_graph_beta_applications_application_federated_identity_credential/resource_claims_matching_expression.tf
  go.sum
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/construct.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/state.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_04_claims_matching_expression.tf
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/crud.go
  internal/services/resources/users/graph_beta/user/crud.go
  templates/resources/graph_beta_applications_application_federated_identity_credential.md.tmpl
Due: unittests, acceptancetests

chore(main): release 0.55.2-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.55.2-alpha (#3172)
  CHANGELOG.md
Due: none

fix: use path-based DELETE for SP token lifetime policy assignment
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/crud.go
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/mocks/responders.go
Due: unittests, acceptancetests

fix: address code review findings
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/state.go
  internal/services/resources/applications/graph_beta/token_lifetime_policy/crud.go
  internal/services/resources/applications/graph_beta/token_lifetime_policy/mocks/responders.go
  internal/services/resources/applications/graph_beta/token_lifetime_policy/validate.go
Due: unittests, acceptancetests

style: align with reference implementation patterns
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/resource.go
  internal/services/resources/applications/graph_beta/token_lifetime_policy/resource.go
  internal/services/resources/applications/graph_beta/token_lifetime_policy/validate.go
Due: unittests, acceptancetests

fix: update OperationApprovalPolicy resource schema
  internal/services/resources/device_management/graph_beta/operation_approval_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/get_operation_approval_policy_maximal.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/get_operation_approval_policy_minimal.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/post_operation_approval_policy.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/post_operation_approval_policy_error.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_delete/get_operation_approval_policy_not_found.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_update/get_operation_approval_policy_updated.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/unit/resource_minimal.tf
Due: unittests, acceptancetests

fix: update OperationApprovalPolicy resource schema (#3181)
  internal/services/resources/device_management/graph_beta/operation_approval_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/get_operation_approval_policy_maximal.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/get_operation_approval_policy_minimal.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/post_operation_approval_policy.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_create/post_operation_approval_policy_error.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_delete/get_operation_approval_policy_not_found.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/responses/validate_update/get_operation_approval_policy_updated.json
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/operation_approval_policy/tests/terraform/unit/resource_minimal.tf
Due: unittests, acceptancetests

feat: add traffic_routing_method to on_premises_publishing resource
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/construct.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/model.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/resource.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/state.go
Due: unittests, acceptancetests

fix: explicitly set null for enum fields when API returns nil in on_premises_publishing
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/state.go
Due: unittests, acceptancetests

docs: add traffic_routing_method to on_premises_publishing resource docs
  docs/resources/graph_beta_applications_application_on_premises_publishing.md
Due: none

chore: update Graph API permissions via automated pipeline
  internal/services/resources/applications/graph_beta/service_principal_token_lifetime_policy_assignment/resource.go
Due: unittests, acceptancetests

initial commit
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/import.sh
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/construct.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/crud.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/model.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/modify_plan.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resolve_id.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/state.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/device_management_get.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/enrollment_profile_get.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/enrollment_profile_post.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/error_500.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_skip_setup.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_skip_setup.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_validation_error.tf
  templates/resources/graph_beta_device_management_macos_dep_enrollment_profile.md.tmpl
Due: unittests, acceptancetests, provider-core

Add manual build workflow
  .github/workflows/manual-build.yml
Due: none

fix: OSVersionRegex accept varying part strings
  internal/constants/regex.go
Due: unittests, acceptancetests

implement improvments from Yasumoto/terraform-provider-microsoft365@8e46c6a
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/resource.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/construct.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/model.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/state.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_skip_setup.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_skip_setup.tf
Due: unittests, acceptancetests

feat: add macOS DEP (ADE) enrollment profile resource (depMacOSEnrollmentProfile) (#3202)
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/import.sh
  examples/resources/microsoft365_graph_beta_device_management_macos_dep_enrollment_profile/resource.tf
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/construct.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/crud.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/model.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/modify_plan.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resolve_id.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/state.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/device_management_get.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/enrollment_profile_get.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/enrollment_profile_post.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/responses/error_500.json
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/acceptance/resource_skip_setup.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_skip_setup.tf
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_validation_error.tf
  templates/resources/graph_beta_device_management_macos_dep_enrollment_profile.md.tmpl
Due: unittests, acceptancetests, provider-core

chore(main): release 0.56.0-alpha
  CHANGELOG.md
Due: none

fix explicit token
  docs/resources/graph_beta_device_management_macos_dep_enrollment_profile.md
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/mocks/responders.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_dep_enrollment_profile/tests/terraform/unit/resource_explicit_token.tf
Due: unittests, acceptancetests

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
