Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

chore: added ref links
  codecov.yml
Due: none

fix: reverted license assignment test validation destruction helpers due to export field issues
  docs/lists/graph_beta_device_management_settings_catalog_configuration_policy.md
  internal/provider/list_resources.go
  internal/services/resources/groups/graph_beta/license_assignment/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/license_assignment/resource_test.go
  internal/services/resources/groups/graph_beta/license_assignment/resource_test_helper.go
  internal/services/resources/groups/graph_beta/license_assignment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/groups/graph_beta/license_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/users/graph_beta/license_assignment/resource_acceptance_test.go
  internal/services/resources/users/graph_beta/license_assignment/resource_test_helper.go
  internal/services/resources/users/graph_beta/license_assignment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/users/graph_beta/license_assignment/tests/terraform/acceptance/resource_minimal.tf
  scripts/pipeline/bi_weekly_tests/manage-test-issues.py
  scripts/powershell/tools/Get-FreeAndAvailableLicenses.ps1
Due: unittests, acceptancetests, provider-core

fix: added group deletion handling when licenses are assigned. standardised version constraint for time provider
  internal/constants/external_providers.go
  internal/services/resources/agents/graph_beta/agent_user/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/group/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/resource_acceptance_test.go
  internal/services/resources/groups/graph_beta/license_assignment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/groups/graph_beta/license_assignment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/resource_acceptance_test.go
Due: unittests, acceptancetests

fix: for resource macos_device_configuration_templates test harness
  internal/acceptance/terraform_dependancies/device_management/groups.tf
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/resource_test.go
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/tests/terraform/acceptance/resource_custom_configuration_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/tests/terraform/acceptance/resource_pkcs_certificate_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/tests/terraform/acceptance/resource_preference_file_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/tests/terraform/acceptance/resource_scep_certificate_maximal.tf
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/tests/terraform/acceptance/resource_trusted_root_certificate_maximal.tf
Due: unittests, acceptancetests

test: add new tests for file path handling in HCL and JSON parsing, including relative, absolute, and permission scenarios
  internal/helpers/hcl_test.go
  internal/helpers/json_test.go
  internal/helpers/md5_test.go
  internal/helpers/misc_test.go
  internal/helpers/pointers_test.go
  internal/helpers/string_test.go
  internal/services/resources/device_management/graph_beta/macos_device_configuration_templates/resource_acceptance_test.go
Due: none

fix(windows_update_ring): set all deadline_settings attributes as computed and optional
  internal/services/resources/device_management/graph_beta/windows_update_ring/resource.go
Due: unittests, acceptancetests

chore: refactor
  internal/services/datasources/utility/deployment_scheduler/conditions.go
  internal/services/datasources/utility/deployment_scheduler/read.go
Due: unittests, acceptancetests

fix: refactor and added docs
  docs/data-sources/utility_deployment_scheduler.md
  examples/data-sources/microsoft365_utility_deployment_scheduler/01_basic_time_delay.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/02_business_hours_only.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/03_exclude_maintenance_windows.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/04_phased_rollout_dependency.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/05_manual_override.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/06_combined_conditions.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/07_multiple_scope_ids.tf
  examples/data-sources/microsoft365_utility_deployment_scheduler/08_real_world_settings_catalog.tf
  examples/deployment_scheduler_advanced_example.tf
  examples/deployment_scheduler_example.tf
  examples/deployment_scheduler_time_windows_example.tf
  internal/constants/regex.go
  internal/services/datasources/utility/deployment_scheduler/conditions.go
  internal/services/datasources/utility/deployment_scheduler/datasource.go
  internal/services/datasources/utility/deployment_scheduler/datasource_test.go
  internal/services/datasources/utility/deployment_scheduler/read.go
  internal/services/datasources/utility/deployment_scheduler/state.go
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/12_dependency_prerequisite_not_open.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/13_dependency_insufficient_time.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/14_dependency_met.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/15_dependency_negative_minimum.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/22_combination_all_conditions.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/27_time_condition_absolute_earliest.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/28_time_condition_absolute_latest.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/29_time_condition_max_duration.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/30_time_condition_combined_advanced.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/31_validation_invalid_day_of_week.tf
  internal/services/resources/device_management/graph_beta/windows_enrollment_status_page/tests/terraform/acceptance/resource_maximal.tf
  templates/data-sources/utility_deployment_scheduler.md.tmpl
Due: unittests, acceptancetests

fix: removed debugging
  internal/services/datasources/utility/deployment_scheduler/conditions.go
  internal/services/datasources/utility/deployment_scheduler/datasource.go
  internal/services/datasources/utility/deployment_scheduler/datasource_test.go
  internal/services/datasources/utility/deployment_scheduler/helper.go
  internal/services/datasources/utility/deployment_scheduler/model.go
  internal/services/datasources/utility/deployment_scheduler/read.go
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/01_time_condition_immediate.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/02_time_condition_not_met.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/04_inclusion_window_day_of_week.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/05_inclusion_window_time_of_day.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/06_inclusion_window_date_range.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/07_inclusion_window_multiple.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/08_exclusion_window_day_of_week.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/09_exclusion_window_date_range.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/10_manual_override_enabled.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/11_manual_override_bypasses_all.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/12_dependency_prerequisite_not_open.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/13_dependency_insufficient_time.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/14_dependency_met.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/16_scope_id_singular.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/17_scope_ids_plural.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/20_combination_time_and_inclusion.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/21_combination_time_and_exclusion.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/22_combination_all_conditions.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/23_released_values_gate_open.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/24_released_values_gate_closed.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/27_time_condition_absolute_earliest.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/28_time_condition_absolute_latest.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/29_time_condition_max_duration.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/30_time_condition_combined_advanced.tf
  internal/services/datasources/utility/deployment_scheduler/tests/terraform/unit/31_validation_invalid_day_of_week.tf
Due: unittests, acceptancetests

chore(main): release 0.41.0-alpha
  CHANGELOG.md
Due: none

fix: named_location delete workflow logic refactor
  go.sum
  internal/services/resources/identity_and_access/graph_beta/named_location/crud.go
Due: unittests, acceptancetests

refactor: streamline named location deletion logic and improve state handling
  internal/services/resources/identity_and_access/graph_beta/named_location/crud.go
  internal/services/resources/identity_and_access/graph_beta/named_location/helpers.go
Due: unittests, acceptancetests

fix: changed applications_ip_application_segment field application_id to application_object_id in prep for full fix
  internal/services/resources/applications/graph_beta/ip_application_segment/crud.go
  internal/services/resources/applications/graph_beta/ip_application_segment/model.go
  internal/services/resources/applications/graph_beta/ip_application_segment/resource.go
  internal/services/resources/applications/graph_beta/ip_application_segment/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/ip_application_segment/resource_test.go
  internal/services/resources/applications/graph_beta/ip_application_segment/resource_test_helper.go
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/unit/resource_fqdn.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/unit/resource_ip_range.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/ip_application_segment/tests/terraform/unit/resource_minimal.tf
Due: unittests, acceptancetests

chore: updated docs
  docs/resources/graph_beta_applications_ip_application_segment.md
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource.tf
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_dns_suffix_wildcard.tf
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_fqdn.tf
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_ip_range_cidr.tf
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_minimal_ip_address.tf
  examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_udp_protocol.tf
  templates/resources/graph_beta_applications_ip_application_segment.md.tmpl
Due: none

fix: unit test naming convention and docs ver
  docs/resources/graph_beta_applications_ip_application_segment.md
  internal/services/resources/applications/graph_beta/ip_application_segment/resource_test.go
  templates/resources/graph_beta_applications_ip_application_segment.md.tmpl
Due: none

chore: remove outdated documentation report for Terraform provider
  doc_todos.md
Due: none

fix: improved test coverage
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_category.go
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_content_file.go
  internal/services/common/state/graph_beta/device_management/configuration_policy_assignments.go
  internal/services/common/state/graph_beta/device_management/configuration_policy_settings.go
  internal/services/common/state/graph_beta/device_management/configuration_policy_settings_test.go
Due: unittests, acceptancetests

fix: enhance test coverage reporting by sanitizing package filenames in CI workflow
  .github/workflows/pr-coverage.yml
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_assignments_test.go
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_category_test.go
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_content_file_test.go
  internal/services/common/state/graph_beta/device_and_app_management/mobile_application_metadata_test.go
  internal/services/common/state/graph_beta/device_and_app_management/sort_mobile_application_aasignments_test.go
Due: none

chore: update CI workflows for improved unit test coverage and reporting
  .github/workflows/pr-coverage.yml
  .github/workflows/pr-unit-tests.yml
  internal/services/common/state/graph_beta/device_management/configuration_policy_settings_test.go
  scripts/pipeline/pr/common.py
  scripts/pipeline/pr/run_pr_tests.py
Due: none

chore: pr fixes
  .github/test-config.yml
  .github/workflows/pr-tests.yml
  .github/workflows/pr-unit-tests.yml
  codecov.yml
  scripts/pipeline/pr/__pycache__/common.cpython-314.pyc
  scripts/pipeline/pr/__pycache__/run_pr_tests.cpython-314.pyc
  scripts/pipeline/pr/common.py
  scripts/pipeline/pr/run_pr_tests.py
Due: none

refactor: enhance run_pr_tests.py with structured unit test and race detection modes
  scripts/pipeline/pr/__pycache__/common.cpython-314.pyc
  scripts/pipeline/pr/__pycache__/run_pr_tests.cpython-314.pyc
  scripts/pipeline/pr/run_pr_tests.py
Due: none

chore: tidy
  scripts/pipeline/pr/__pycache__/run_pr_tests.cpython-314.pyc
Due: none

chore: naming
  .github/test-config.yml
  .github/workflows/pr-tests.yml
  pr-checks-config.yml
  scripts/pipeline/pr/common.py
  scripts/pipeline/pr/run_pr_tests.py
Due: none

chore:tidy up
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/graph-sdk-acc-tests.yml
  .github/workflows/openapi-schema-detection.yml
  scripts/pipeline/graph_openapi_schema_detection/__init__.py
  scripts/pipeline/graph_openapi_schema_detection/__pycache__/__init__.cpython-314.pyc
  scripts/pipeline/graph_openapi_schema_detection/core/__init__.py
  scripts/pipeline/graph_openapi_schema_detection/core/issue_builder.py
  scripts/pipeline/graph_openapi_schema_detection/core/progress_reporter.py
  scripts/pipeline/graph_openapi_schema_detection/core/schema_comparer.py
  scripts/pipeline/graph_openapi_schema_detection/core/schema_parser.py
  scripts/pipeline/graph_openapi_schema_detection/core/spec_fetcher.py
  scripts/pipeline/graph_openapi_schema_detection/core/version_detector.py
  scripts/pipeline/graph_openapi_schema_detection/detect_openapi_changes.py
  scripts/pipeline/graph_openapi_schema_detection/models/__init__.py
  scripts/pipeline/graph_openapi_schema_detection/models/__pycache__/__init__.cpython-314.pyc
  scripts/pipeline/graph_openapi_schema_detection/models/__pycache__/changes.cpython-314.pyc
  scripts/pipeline/graph_openapi_schema_detection/models/__pycache__/results.cpython-314.pyc
  scripts/pipeline/graph_openapi_schema_detection/models/changes.py
  scripts/pipeline/graph_openapi_schema_detection/models/results.py
  scripts/pipeline/graph_openapi_schema_detection/models/statistics.py
  scripts/pipeline/pr/get_codecov_coverage.py
  scripts/pipeline/pr/run_pr_tests.py
  scripts/pipeline/sdk_schema_detection/__init__.py
  scripts/pipeline/sdk_schema_detection/analyze_provider_model_usage.py
  scripts/pipeline/sdk_schema_detection/backup/analyze_provider_model_usage.py
  scripts/pipeline/sdk_schema_detection/backup/kiota_graph_sdk_schema_change_detector.py
  scripts/pipeline/sdk_schema_detection/backup/orchestrate_schema_detection.py
  scripts/pipeline/sdk_schema_detection/core/__init__.py
  scripts/pipeline/sdk_schema_detection/core/diff_fetcher.py
  scripts/pipeline/sdk_schema_detection/core/github_client.py
  scripts/pipeline/sdk_schema_detection/core/issue_builder.py
  scripts/pipeline/sdk_schema_detection/core/progress_reporter.py
  scripts/pipeline/sdk_schema_detection/core/struct_parser.py
  scripts/pipeline/sdk_schema_detection/core/version_parser.py
  scripts/pipeline/sdk_schema_detection/detect_schema_changes.py
  scripts/pipeline/sdk_schema_detection/models/__init__.py
  scripts/pipeline/sdk_schema_detection/models/changes.py
  scripts/pipeline/sdk_schema_detection/models/results.py
  scripts/pipeline/sdk_schema_detection/models/statistics.py
  scripts/pipeline/sdk_schema_detection/regex_patterns.py
Due: none

chore: refactor
  scripts/pipeline/pr/get_codecov_coverage.py
Due: none

chore: improve error handling and code readability in get_codecov_coverage.py
  scripts/pipeline/pr/get_codecov_coverage.py
Due: none

chore: update PR test workflow and scripts for improved coverage handling
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/code_analysis.py
  scripts/pipeline/pr/common.py
  scripts/pipeline/pr/coverage.py
  scripts/pipeline/pr/get_codecov_coverage.py
  scripts/pipeline/pr/git_operations.py
  scripts/pipeline/pr/github.py
  scripts/pipeline/pr/go_tests.py
  scripts/pipeline/pr/run_pr_tests.py
Due: none

chore: refactor PR test workflow and scripts for improved modularity and clarity
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/lib/__init__.py
  scripts/pipeline/pr/lib/code_analysis.py
  scripts/pipeline/pr/lib/common.py
  scripts/pipeline/pr/lib/coverage.py
  scripts/pipeline/pr/lib/get_codecov_coverage.py
  scripts/pipeline/pr/lib/git_operations.py
  scripts/pipeline/pr/lib/github.py
  scripts/pipeline/pr/lib/go_tests.py
  scripts/pipeline/pr/run_pr_tests.py
  scripts/pipeline/pr/steps/analyze_code.py
  scripts/pipeline/pr/steps/calculate_coverage.py
  scripts/pipeline/pr/steps/detect_changes.py
  scripts/pipeline/pr/steps/enforce_coverage.py
  scripts/pipeline/pr/steps/run_race_detection.py
  scripts/pipeline/pr/steps/run_tests.py
Due: none

chore: update coverage token handling in workflow and scripts
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/lib/get_codecov_coverage.py
  scripts/pipeline/pr/steps/enforce_coverage.py
Due: none

chore: typos
  scripts/pipeline/bi_weekly_tests/manage-job-failure-issues.py
  scripts/pipeline/report-failure.py
  scripts/powershell/device_and_app_management/Upload-DMGIntunePackage.ps1
  scripts/powershell/device_and_app_management/Upload-PKGIntunePackage.ps1
  scripts/powershell/device_and_app_management/Upload-macOSLOBIntunePackage.ps1
  scripts/powershell/identity_and_access/Create-ConditionalAccessPolicy.ps1
  templates/resources/graph_beta_users_user_mailbox_settings.md.tmpl
Due: none

chore: improve error message for missing Codecov API token
  scripts/pipeline/pr/steps/enforce_coverage.py
Due: none
