Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

chore: improve block-level checks for Windows Device Compliance Policy
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/state.go
Due: unittests, acceptancetests

fix: update HTTP method in Delete request for Conditional Access Terms of Use
  internal/services/resources/identity_and_access/graph_v1.0/conditional_access_terms_of_use/crud.go
Due: unittests, acceptancetests

fix: update HTTP method in Delete request for Conditional Access Terms of Use (#2238)
  internal/services/resources/identity_and_access/graph_v1.0/conditional_access_terms_of_use/crud.go
Due: unittests, acceptancetests

chore: mop up
  .github/ai-instructions.md
  internal/services/datasources/utility/microsoft_365_endpoint_reference/datasource_acceptance_test.go
Due: none

chore(main): release 0.42.1-alpha
  CHANGELOG.md
Due: none

chore: enhance CRUD operations for various resources with detailed API documentation
  internal/services/resources/device_and_app_management/graph_beta/android_managed_device_app_configuration_policy/crud.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_mobile_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/application_category/crud.go
  internal/services/resources/groups/graph_beta/group/crud.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy/crud.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_member_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_owner_assignment/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/attribute_set/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_strength_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/custom_security_attribute_allowed_value/crud.go
  internal/services/resources/identity_and_access/graph_beta/custom_security_attribute_definition/crud.go
  internal/services/resources/identity_and_access/graph_beta/named_location/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_policy/crud.go
  internal/services/resources/identity_and_access/graph_v1.0/conditional_access_terms_of_use/crud.go
  internal/services/resources/m365_admin/graph_beta/browser_site_list/crud.go
  internal/services/resources/m365_admin/graph_beta/m365_apps_installation_options/crud.go
Due: unittests, acceptancetests

chore: enhance CRUD operations for various resources with detailed API documentation (#2248)
  internal/services/resources/device_and_app_management/graph_beta/android_managed_device_app_configuration_policy/crud.go
  internal/services/resources/device_and_app_management/graph_beta/android_managed_mobile_app/crud.go
  internal/services/resources/device_and_app_management/graph_beta/application_category/crud.go
  internal/services/resources/groups/graph_beta/group/crud.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy/crud.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_member_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_owner_assignment/crud.go
  internal/services/resources/groups/graph_beta/license_assignment/crud.go
  internal/services/resources/identity_and_access/graph_beta/attribute_set/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_strength_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/custom_security_attribute_allowed_value/crud.go
  internal/services/resources/identity_and_access/graph_beta/custom_security_attribute_definition/crud.go
  internal/services/resources/identity_and_access/graph_beta/named_location/crud.go
  internal/services/resources/identity_and_access/graph_beta/network_filtering_policy/crud.go
  internal/services/resources/identity_and_access/graph_v1.0/conditional_access_terms_of_use/crud.go
  internal/services/resources/m365_admin/graph_beta/browser_site_list/crud.go
  internal/services/resources/m365_admin/graph_beta/m365_apps_installation_options/crud.go
Due: unittests, acceptancetests

chore: update API documentation references for Mobile App Supersedence and Office Suite App CRUD operations
  internal/services/resources/device_and_app_management/graph_beta/mobile_app_supersedence/crud.go
  internal/services/resources/device_and_app_management/graph_beta/office_suite_app/crud.go
Due: unittests, acceptancetests

chore: remove unused output variables and improve test clarity
  internal/services/datasources/utility/guid_list_sharder/tests/terraform/acceptance/02_users_round_robin_with_seed.tf
  internal/services/resources/device_management/graph_beta/group_policy_configuration/mocks/responders.go
  internal/services/resources/device_management/graph_beta/managed_device_cleanup_rule/resource_test.go
  internal/services/resources/device_management/graph_beta/managed_device_cleanup_rule/tests/terraform/unit/platform_all_duplicate.tf
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/tests/responses/validate_get/get_windows_device_compliance_policy_assignments.json
  internal/services/resources/device_management/graph_v1.0/device_configuration_assignment/mocks/responders.go
Due: none

chore: build out
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/create.req.md
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resource.go
Due: unittests, acceptancetests

chore: added acc tests for initial testing
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/crud.go
  internal/services/resources/applications/graph_beta/application/crud_owner.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resolve.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application/resource_test.go
  internal/services/resources/applications/graph_beta/application/resource_test_helper.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_03_web_app.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_04_spa.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_05_public_client.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_06_multitenant.tf
Due: unittests, acceptancetests, provider-core

chore: added validation helpers
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/crud.go
  internal/services/resources/applications/graph_beta/application/validate.go
Due: unittests, acceptancetests

chore: state logic
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/state_attr_types.go
Due: unittests, acceptancetests

chore: enhance sign-in audience restrictions handling and API request configuration
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/crud.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/state_attr_types.go
  internal/services/resources/applications/graph_beta/application/validate.go
Due: unittests, acceptancetests

chore: update application resource handling and improve Terraform state mapping
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/crud.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_03_web_app.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_04_spa.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_06_multitenant.tf
Due: unittests, acceptancetests

chore: enhance application resource management and validation
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/construct_app_role.go
  internal/services/resources/applications/graph_beta/application/crud.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application/validate.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/construct.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/helpers.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/model.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/state.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_base64.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_der.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_hex.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_pem.tf
  scripts/powershell/applications/Get-ApplicationById.ps1
Due: unittests, acceptancetests, provider-core

chore: update external provider versions and refactor acceptance tests
  internal/constants/external_providers.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/construct.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_test_helper.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/responses/validate_create/get_application_before_create_success.json
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/responses/validate_read/get_application_success.json
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_01_pem.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_02_base64.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_03_der.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_04_hex.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_01_base64.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_02_der.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_03_hex.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_04_pem.tf
Due: unittests, acceptancetests

chore: add new resource constructor and improve mock responses
  internal/services/resources/applications/graph_beta/application_certificate_credential/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource.go
Due: unittests, acceptancetests

chore: enhance application certificate credential management and testing
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/construct.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_01_pem.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_02_base64.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_03_der.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_04_hex.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_replace_step1.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_replace_step2.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_05_replace.tf
Due: unittests, acceptancetests

chore: add new application data source and update test configuration
  internal/provider/datasources.go
  internal/services/datasources/applications/graph_beta/application/datasource.go
  internal/services/datasources/applications/graph_beta/application/model.go
  internal/services/datasources/applications/graph_beta/application/read.go
  internal/services/datasources/applications/graph_beta/application/state.go
  internal/services/datasources/applications/graph_beta/application/state_attr_types.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_replace_step2.tf
Due: unittests, acceptancetests, provider-core

chore: enhance certificate credential creation and testing
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_replace_step1.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_replace_step2.tf
Due: unittests, acceptancetests

chore: remove debug logging for certificate display names in credential creation
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
Due: unittests, acceptancetests

chore: enhance application password credential management and validation
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/unit/resource_05_replace.tf
  internal/services/resources/applications/graph_beta/application_password_credential/construct.go
  internal/services/resources/applications/graph_beta/application_password_credential/crud.go
  internal/services/resources/applications/graph_beta/application_password_credential/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_password_credential/model.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource_test_helper.go
  internal/services/resources/applications/graph_beta/application_password_credential/state.go
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_create/post_password_credential_unit-test-password-credential-maximal_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_create/post_password_credential_unit-test-password-credential_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_update/post_add_password_credential_unit-test-password-credential-maximal-updated_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_update/post_add_password_credential_unit-test-password-credential-updated_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/unit/resource_minimal.tf
Due: unittests, acceptancetests, provider-core

chore: refactor application credential management and remove unused code
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/state_attr_types.go
  internal/services/resources/applications/graph_beta/application_password_credential/construct.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_password_credential/state.go
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_create/post_password_credential_unit-test-password-credential-maximal_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/responses/validate_update/post_add_password_credential_unit-test-password-credential-maximal-updated_success.json
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/validate.go
Due: unittests, acceptancetests

chore: enhance application credential validation and read operations
  internal/services/resources/applications/graph_beta/application_certificate_credential/construct.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/validate.go
  internal/services/resources/applications/graph_beta/application_password_credential/crud.go
  internal/services/resources/applications/graph_beta/application_password_credential/mocks/responders.go
Due: unittests, acceptancetests

chore: enhance validation and schema for application credentials
  examples/resources/microsoft365_graph_beta_applications_application_certificate_credential/resource_der.tf
  examples/resources/microsoft365_graph_beta_applications_application_certificate_credential/resource_hex.tf
  examples/resources/microsoft365_graph_beta_applications_application_certificate_credential/resource_pem.tf
  examples/resources/microsoft365_graph_beta_applications_application_password_credential/resource_basic.tf
  examples/resources/microsoft365_graph_beta_applications_application_password_credential/resource_with_expiry.tf
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/construct.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/construct.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/validate.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_01_pem.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_02_base64.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_03_der.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_04_hex.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/tests/terraform/acceptance/resource_05_maximal.tf
  internal/services/resources/applications/graph_beta/application_password_credential/crud.go
  templates/resources/graph_beta_applications_application_certificate_credential.md.tmpl
  templates/resources/graph_beta_applications_application_password_credential.md.tmpl
Due: unittests, acceptancetests

chore: add new application federated identity and owner resources
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/construct.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/crud.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/model.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource_test.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource_test_helper.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/state.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/responses/validate_create/post_federated_identity_credential_unit-test-fic-maximal_success.json
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/responses/validate_create/post_federated_identity_credential_unit-test-fic-minimal_success.json
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/acceptance/resource_minimal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/unit/resource_maximal.tf
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/tests/terraform/unit/resource_minimal.tf
  internal/services/resources/applications/graph_beta/application_owner/construct.go
  internal/services/resources/applications/graph_beta/application_owner/crud.go
  internal/services/resources/applications/graph_beta/application_owner/mocks/responders.go
  internal/services/resources/applications/graph_beta/application_owner/model.go
  internal/services/resources/applications/graph_beta/application_owner/resource.go
  internal/services/resources/applications/graph_beta/application_owner/resource_test.go
  internal/services/resources/applications/graph_beta/application_owner/resource_test_helper.go
  internal/services/resources/applications/graph_beta/application_owner/state.go
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/acceptance/resource_01_owner_type_user.tf
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/acceptance/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/unit/resource_01_owner_type_user.tf
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/unit/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/application_owner/validator.go
Due: unittests, acceptancetests, provider-core

chore: add service principal resource and update application owner tests
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/application_owner/crud.go
  internal/services/resources/applications/graph_beta/application_owner/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_owner/resource_test.go
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/acceptance/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/unit/resource_01_owner_type_user.tf
  internal/services/resources/applications/graph_beta/application_owner/tests/terraform/unit/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests, provider-core

chore: update schema descriptions for application resources
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource.go
  internal/services/resources/applications/graph_beta/application_federated_identity_credential/resource.go
  internal/services/resources/applications/graph_beta/application_owner/resource.go
  internal/services/resources/applications/graph_beta/application_password_credential/resource.go
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/resource.go
Due: unittests, acceptancetests

chore: simplify service principal Read method and enhance schema plan modifiers
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  scripts/powershell/applications/Create-Application.ps1
  scripts/powershell/applications/Create-ServicePrincipal.ps1
  scripts/powershell/applications/Get-ServicePrincipalById.ps1
Due: unittests, acceptancetests

chore: update service principal resource schema and enhance acceptance tests
  internal/services/resources/applications/graph_beta/service_principal/construct.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

chore: enhance service principal deletion process and add hard delete functionality
  internal/services/resources/applications/graph_beta/service_principal/crud.go
  internal/services/resources/applications/graph_beta/service_principal/model.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal/tests/terraform/unit/resource_02_maximal.tf
Due: unittests, acceptancetests

chore: add service principal owner resource and enhance mock state management
  internal/provider/resources.go
  internal/services/resources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_owner/construct.go
  internal/services/resources/applications/graph_beta/service_principal_owner/crud.go
  internal/services/resources/applications/graph_beta/service_principal_owner/mocks/responders.go
  internal/services/resources/applications/graph_beta/service_principal_owner/model.go
  internal/services/resources/applications/graph_beta/service_principal_owner/resource.go
  internal/services/resources/applications/graph_beta/service_principal_owner/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/service_principal_owner/resource_test.go
  internal/services/resources/applications/graph_beta/service_principal_owner/resource_test_helper.go
  internal/services/resources/applications/graph_beta/service_principal_owner/state.go
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/acceptance/resource_01_owner_type_user.tf
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/acceptance/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/unit/resource_01_owner_type_user.tf
  internal/services/resources/applications/graph_beta/service_principal_owner/tests/terraform/unit/resource_02_owner_type_service_principal.tf
  internal/services/resources/applications/graph_beta/service_principal_owner/validator.go
Due: unittests, acceptancetests, provider-core

chore: remove tenant app management policy resources
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/construct.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/crud.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/mocks/responders.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/model.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/resource.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/resource_test.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/resource_test_helper.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/state.go
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/tests/terraform/unit/resource_01_minimal.tf
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/tests/terraform/unit/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/tenant_app_management_policy/tests/terraform/unit/resource_03_error.tf
  scripts/powershell/applications/Reset-AppManagementPolicyToDefaults.ps1
  scripts/powershell/applications/test-policy.json
Due: unittests, acceptancetests
