Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

fix: split GO_ARGS and TEMPLATE_ARGS in update-graph-permissions workflow
  .github/workflows/update-graph-permissions.yml
Due: none

fix: fixed args for pipeline permissions generation
  .github/workflows/update-licensing-service-plan-reference.yml
  README.md
Due: none

chore(main): release 0.47.0-alpha
  CHANGELOG.md
Due: none

fix: use plain http.Client for Entra ID auth instead of Kiota client to fix missing grant_type with GitHub Actions OIDC
  internal/client/entra_id_client_options.go
Due: unittests, acceptancetests, provider-core

chore: fixed multiple failing tests for resource application and resource app_role_assignment_to_service_principal
  examples/resources/microsoft365_graph_beta_applications_application/resource_maximal.tf
  internal/client/entra_id_client_options_test.go
  internal/services/resources/applications/graph_beta/application/construct.go
  internal/services/resources/applications/graph_beta/application/model.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/application/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application/state.go
  internal/services/resources/applications/graph_beta/application/state_attr_types.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_03_web_app.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_06_multitenant.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_07_minimal_to_maximal_step_1.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_07_minimal_to_maximal_step_2.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_08_maximal_to_minimal_step_1.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_08_maximal_to_minimal_step_2.tf
  internal/services/resources/applications/graph_beta/application_certificate_credential/resource_acceptance_test.go
  internal/services/resources/applications/graph_beta/application_password_credential/crud.go
  internal/services/resources/applications/graph_beta/application_password_credential/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/applications/graph_beta/service_principal_app_role_assigned_to/tests/terraform/acceptance/app_role_assignment_to_service_principal.tf
  templates/resources/graph_beta_applications_application.md.tmpl
Due: unittests, acceptancetests

feat: Support username and password authentication for client
  docs/guides/username_password.md
  internal/client/client_credential_factory.go
  internal/client/model.go
  internal/provider/configure_clients.go
  internal/provider/configure_clients_test.go
  internal/provider/model.go
  internal/provider/provider.go
  internal/provider/set_configuration.go
  internal/provider/set_configuration_test.go
Due: unittests, acceptancetests, provider-core

fix: update Entra ID client tests and middleware to prevent gzip compression on OAuth requests
  internal/client/entra_id_client_options.go
  internal/client/entra_id_client_options_test.go
Due: unittests, acceptancetests, provider-core

chore: updated comments
  internal/client/entra_id_client_options.go
Due: unittests, acceptancetests, provider-core

chore: add comprehensive tests for Entra ID client options and middleware configuration
  internal/client/entra_id_client_options.go
  internal/client/entra_id_client_options_test.go
Due: unittests, acceptancetests, provider-core

chore(main): release 0.48.0-alpha
  CHANGELOG.md
Due: none

chore: streamline mock client creation and enhance GitHub OIDC strategy tests
  internal/client/build_clients_test.go
  internal/client/build_mock_clients.go
  internal/client/build_mock_clients_test.go
  internal/client/client_credential_factory_test.go
  internal/client/entra_id_client_options_test.go
  internal/client/graph_client_options_test.go
  internal/client/graph_clients_test.go
  internal/client/http_client_request.go
  internal/client/http_client_request_test.go
  internal/client/http_clients_test.go
Due: unittests, acceptancetests, provider-core

refactor: rename test functions for clarity and consistency
  internal/client/build_clients_test.go
  internal/client/build_mock_clients_test.go
  internal/client/client_credential_factory_test.go
  internal/client/cloud_test.go
  internal/client/entra_id_client_options_test.go
  internal/client/graph_client_options_test.go
  internal/client/graph_clients_test.go
  internal/client/http_client_request_test.go
  internal/client/http_clients_test.go
Due: none

test: enhance acceptance tests with logging and configuration loading
  internal/provider/provider_acc_test.go
  internal/provider/tests/terraform/acceptance/provider_all_middleware.tf
  internal/provider/tests/terraform/acceptance/provider_auth_azure_cli_no_proxy.tf
  internal/provider/tests/terraform/acceptance/provider_auth_azure_developer_cli_no_proxy.tf
  internal/provider/tests/terraform/acceptance/provider_auth_client_secret_no_proxy.tf
  internal/provider/tests/terraform/acceptance/provider_auth_device_code_no_proxy.tf
  internal/provider/tests/terraform/acceptance/provider_auth_without_proxy.tf
  internal/provider/tests/terraform/acceptance/provider_compression_enabled.tf
  internal/provider/tests/terraform/acceptance/provider_custom_user_agent.tf
  internal/provider/tests/terraform/acceptance/provider_retry_config.tf
Due: none

chore: meh
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience_members/crud.go
Due: unittests, acceptancetests

chore: fix typos
  internal/provider/resources.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/model.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopatch_deployment_audience/state.go
Due: unittests, acceptancetests, provider-core

fix: for schema validation for device config assignments
  internal/services/common/plan_modifiers/set.go
  internal/services/common/schema/graph_beta/device_management/device_configuration_assignment.go
  internal/services/common/schema/graph_beta/device_management/windows_update_assignments.go
  internal/services/common/validate/attribute/string.go
  internal/services/common/validate/attribute/string_test.go
Due: unittests, acceptancetests

chore: enhance CrossTenantAccessDefaultSettingsMock with user and group mock registrations
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/mocks/responders.go
Due: none

feat: enhance CrossTenantAccessDefaultSettingsMock with additional user and group mock registrations
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/construct.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/model.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/responses/validate_create/get_partner_user_sync_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/responses/validate_create/put_partner_user_sync_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/terraform/acceptance/resource_01_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/terraform/acceptance/resource_02_with_display_name.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/terraform/unit/resource_01_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/terraform/unit/resource_02_with_display_name.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/tests/terraform/unit/resource_03_sync_disabled.tf
Due: unittests, acceptancetests, provider-core

feat: implement validation for CrossTenantAccessPartnerUserSyncSettings resource
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings/resource.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/validate.go
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md.tmpl
Due: unittests, acceptancetests

feat: implement validation for CrossTenantAccessPartnerUserSyncSettings resource (#2543)
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings/resource.tf
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/validate.go
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md.tmpl
Due: unittests, acceptancetests

feat: added resource graph_beta_identity_and_access_cross_tenant_access_partner_settings
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/construct.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/model.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/responses/validate_create/get_partner_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/responses/validate_create/post_partner_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_01_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_02_b2b_collaboration_inbound.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_03_b2b_direct_connect.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_04_inbound_trust.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_05_tenant_restrictions.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_06_automatic_user_consent.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_07_maximal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_08_validator_guid.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_09_validator_office365.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_10_update.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_11_hard_delete.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/validate.go
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: added resource graph_beta_identity_and_access_cross_tenant_access_partner_settings (#2544)
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md
  docs/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_cross_tenant_access_partner_settings/resource.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/construct.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/crud.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/model.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/state.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/responses/validate_create/get_partner_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/responses/validate_create/post_partner_settings_success.json
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_01_minimal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_02_b2b_collaboration_inbound.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_03_b2b_direct_connect.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_04_inbound_trust.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_05_tenant_restrictions.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_06_automatic_user_consent.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_07_maximal.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_08_validator_guid.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_09_validator_office365.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_10_update.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/tests/terraform/unit/resource_11_hard_delete.tf
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/validate.go
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
Due: unittests, acceptancetests, provider-core

chore(main): release 0.49.0-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.49.0-alpha (#2538)
  CHANGELOG.md
Due: none

fix: migrated all dynamic errors in validate.go implementations to use sentinel errors.
  go.sum
  internal/services/common/errors/sentinels/validate.go
  internal/services/resources/agents/graph_beta/agent_collection/validate.go
  internal/services/resources/agents/graph_beta/agent_collection_assignment/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/validate.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/validate.go
  internal/services/resources/device_management/graph_beta/policy_set/validate.go
  internal/services/resources/device_management/graph_beta/role_definition/validate.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/validate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/validate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_strength_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/validate.go
  internal/services/resources/windows_365/graph_beta/cloud_pc_role_definition/validate.go
Due: unittests, acceptancetests

fix: migrated all dynamic errors in validate.go implementations to use sentinel errors. (#2545)
  go.sum
  internal/services/common/errors/sentinels/validate.go
  internal/services/resources/agents/graph_beta/agent_collection/validate.go
  internal/services/resources/agents/graph_beta/agent_collection_assignment/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/validate.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_password_credential/validate.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/validate.go
  internal/services/resources/device_management/graph_beta/policy_set/validate.go
  internal/services/resources/device_management/graph_beta/role_definition/validate.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/validate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_context/validate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_strength_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/validate.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_user_sync_settings/validate.go
  internal/services/resources/windows_365/graph_beta/cloud_pc_role_definition/validate.go
Due: unittests, acceptancetests

chore(main): release 0.49.1-alpha
  CHANGELOG.md
Due: none

chore(main): release 0.49.1-alpha (#2546)
  CHANGELOG.md
Due: none

fix: session_controls state mapping for global_secure_access_filtering_profile to prevent post-apply null inconsistency
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/state.go
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/datasources/groups/graph_beta/group/datasource.go
  internal/services/resources/device_management/graph_beta/windows_device_compliance_policy/resource.go
  internal/services/resources/groups/graph_beta/group/resource.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_lifecycle_expiration_policy_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_member_assignment/resource.go
  internal/services/resources/groups/graph_beta/group_owner_assignment/resource.go
  internal/services/resources/groups/graph_beta/license_assignment/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_default_settings/resource.go
  internal/services/resources/identity_and_access/graph_beta/cross_tenant_access_partner_settings/resource.go
  templates/data-sources/graph_beta_groups_group.md.tmpl
  templates/resources/graph_beta_device_management_windows_device_compliance_policy.md.tmpl
  templates/resources/graph_beta_groups_group.md.tmpl
  templates/resources/graph_beta_groups_group_app_role_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_lifecycle_expiration_policy_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_member_assignment.md.tmpl
  templates/resources/graph_beta_groups_group_owner_assignment.md.tmpl
  templates/resources/graph_beta_groups_license_assignment.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_default_settings.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_settings.md.tmpl
  templates/resources/graph_beta_identity_and_access_cross_tenant_access_partner_user_sync_settings.md.tmpl
Due: unittests, acceptancetests

fix: session_controls state mapping for global_secure_access_filtering_profile to prevent post-apply null inconsistency (#2568)
  internal/services/resources/identity_and_access/graph_beta/conditional_access_policy/state.go
Due: unittests, acceptancetests

chore: update error messages and permissions in Graph API tests
  go.sum
  internal/services/datasources/identity_and_access/graph_beta/role_definitions/datasource_test.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list_resource.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_downgrade_step_1_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_downgrade_step_2_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_lifecycle_step_1_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_lifecycle_step_2_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_minimal.tf
Due: unittests, acceptancetests

chore: update error messages and permissions in Graph API tests (#2570)
  go.sum
  internal/services/datasources/identity_and_access/graph_beta/role_definitions/datasource_test.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list_resource.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_downgrade_step_1_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_downgrade_step_2_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_lifecycle_step_1_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_lifecycle_step_2_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_update_ring/tests/terraform/unit/assignments_minimal.tf
Due: unittests, acceptancetests

feat: add Windows Autopatch Policy Approval resource
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_policy_approval/import.sh
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_policy_approval/resource_approved.tf
  examples/resources/microsoft365_graph_beta_windows_updates_autopatch_policy_approval/resource_suspended.tf
  internal/provider/resources.go
  internal/services/resources/windows_updates/autopatch_policy_approval/construct.go
  internal/services/resources/windows_updates/autopatch_policy_approval/crud.go
  internal/services/resources/windows_updates/autopatch_policy_approval/mocks/responders.go
  internal/services/resources/windows_updates/autopatch_policy_approval/model.go
  internal/services/resources/windows_updates/autopatch_policy_approval/resource.go
  internal/services/resources/windows_updates/autopatch_policy_approval/resource_acceptance_test.go
  internal/services/resources/windows_updates/autopatch_policy_approval/resource_test.go
  internal/services/resources/windows_updates/autopatch_policy_approval/resource_test_helper.go
  internal/services/resources/windows_updates/autopatch_policy_approval/state.go
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/responses/Create/post_policy_approval_approved.json
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/responses/Create/post_policy_approval_suspended.json
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/responses/Read/get_policy_approval_approved.json
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/responses/Update/patch_policy_approval_suspended.json
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/terraform/acceptance/01_approved.tf
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/terraform/acceptance/02_suspended.tf
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/terraform/unit/01_approved.tf
  internal/services/resources/windows_updates/autopatch_policy_approval/tests/terraform/unit/02_suspended.tf
  templates/resources/graph_beta_windows_updates_autopatch_policy_approval.md.tmpl
Due: unittests, acceptancetests, provider-core
