Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum

fix: support Ireland region group for Cloud PC policies
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource.go
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource_test.go
Due: unittests, acceptancetests

fix: support Ireland region group for Cloud PC policies (#4092)
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource.go
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource_test.go
Due: unittests, acceptancetests

fix: bugs
  docs/resources/graph_beta_identity_and_access_authorization_policy.md
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/acceptance_helpers_test.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/contract_test.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/helpers.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/100_final_verified_get.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/22_complete_required_booleans.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/23_final_full_restoration.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/acceptance_cleanup_block_msol.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/acceptance_test_result.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/diagnostic_beta_selected_get.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/responses/live_validation/diagnostic_v1_get.json
  internal/services/resources/identity_and_access/graph_beta/authorization_policy/tests/terraform/acceptance/resource_minimal.tf
Due: unittests, acceptancetests

chore: docs
  docs/resources/graph_beta_identity_and_access_authorization_policy.md
  templates/resources/graph_beta_identity_and_access_authorization_policy.md.tmpl
Due: none

feat: add authentication flows policy resource
  docs/resources/graph_beta_identity_and_access_authentication_flows_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_authentication_flows_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_authentication_flows_policy/resource_with_timeouts.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/01_original_get.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/02_enable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/03_disable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/04_display_name.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/05_description.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/06_restoration.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/07_final_verified_get.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/02_enable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/03_disable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/04_display_name.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/05_description.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/06_restoration.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/restoration_verification.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/test_results.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/validate_get/get_authentication_flows_policy_success.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/acceptance/resource_disabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/acceptance/resource_enabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/unit/resource_disabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/unit/resource_enabled.tf
  templates/resources/graph_beta_identity_and_access_authentication_flows_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add authentication flows policy resource (#4095)
  docs/resources/graph_beta_identity_and_access_authentication_flows_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_authentication_flows_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_authentication_flows_policy/resource_with_timeouts.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/01_original_get.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/02_enable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/03_disable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/04_display_name.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/05_description.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/06_restoration.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/07_final_verified_get.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/02_enable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/03_disable.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/04_display_name.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/05_description.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/06_restoration.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/before_permission_grant/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/restoration_verification.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/test_results.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/live_validation/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/responses/validate_get/get_authentication_flows_policy_success.json
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/acceptance/resource_disabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/acceptance/resource_enabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/unit/resource_disabled.tf
  internal/services/resources/identity_and_access/graph_beta/authentication_flows_policy/tests/terraform/unit/resource_enabled.tf
  templates/resources/graph_beta_identity_and_access_authentication_flows_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add external identities policy resource
  docs/resources/graph_beta_identity_and_access_external_identities_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_external_identities_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_external_identities_policy/resource_with_timeouts.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/01_original_get.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/02_noop_patch.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/03_patch_allowExternalIdentitiesToLeave.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_patch_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_readback_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_restore_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_restored_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/05_patch_displayName.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/06_restore_original.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/07_restoration_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/08_patch_both_original_values.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/09_original_values_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/10_after_acceptance_restoration_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/validate_get/get_external_identities_policy_success.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/acceptance/resource_initial.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/acceptance/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/unit/resource_initial.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_external_identities_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

feat: add external identities policy resource (#4096)
  docs/resources/graph_beta_identity_and_access_external_identities_policy.md
  examples/resources/microsoft365_graph_beta_identity_and_access_external_identities_policy/import.sh
  examples/resources/microsoft365_graph_beta_identity_and_access_external_identities_policy/resource_with_timeouts.tf
  internal/provider/resources.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/construct.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/crud.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/mocks/responders.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/model.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/predicate.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_acceptance_test.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_test.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/resource_test_helper.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/state.go
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/01_original_get.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/02_noop_patch.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/03_patch_allowExternalIdentitiesToLeave.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_patch_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_readback_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_restore_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/04_restored_allowDeletedIdentitiesDataRemoval.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/05_patch_displayName.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/06_restore_original.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/07_restoration_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/08_patch_both_original_values.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/09_original_values_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/10_after_acceptance_restoration_verified.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/live_validation/validation_summary.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/responses/validate_get/get_external_identities_policy_success.json
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/acceptance/resource_initial.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/acceptance/resource_updated.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/unit/resource_initial.tf
  internal/services/resources/identity_and_access/graph_beta/external_identities_policy/tests/terraform/unit/resource_updated.tf
  templates/resources/graph_beta_identity_and_access_external_identities_policy.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: docs
  templates/resources/graph_beta_device_management_device_configuration_templates_json.md.tmpl
Due: none

fix: preserve Android compliance scheduled-action state after apply
  docs/resources/graph_beta_device_management_android_device_owner_compliance_policy.md
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/construct.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/construct_device_compliance_scheduled_action_for_rules.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_lifecycle_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_read_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_state_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/state.go
  templates/resources/graph_beta_device_management_android_device_owner_compliance_policy.md.tmpl
Due: unittests, acceptancetests

test: exercise refresh plans and compressed Graph requests
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_lifecycle_test.go
Due: none

style: format scheduled-action diagnostics
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/state.go
Due: unittests, acceptancetests

test: preserve schedules when saved state cannot be decoded
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_state_test.go
Due: none

ci: validate fork PR coverage without repository secrets
  .github/workflows/pr-tests.yml
  scripts/pipeline/pr/lib/get_codecov_coverage.py
  scripts/pipeline/pr/steps/enforce_coverage.py
  scripts/pipeline/pr/tests/test_codecov_coverage.py
  scripts/pipeline/pr/tests/test_coverage_reporting.py
Due: none

fix: preserve Android compliance scheduled-action state after apply (#4097)
  .github/workflows/pr-tests.yml
  docs/resources/graph_beta_device_management_android_device_owner_compliance_policy.md
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/construct.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/construct_device_compliance_scheduled_action_for_rules.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/resource.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_lifecycle_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_read_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/schedules_state_test.go
  internal/services/resources/device_management/graph_beta/android_device_owner_compliance_policy/state.go
  scripts/pipeline/pr/lib/get_codecov_coverage.py
  scripts/pipeline/pr/steps/enforce_coverage.py
  scripts/pipeline/pr/tests/test_codecov_coverage.py
  scripts/pipeline/pr/tests/test_coverage_reporting.py
  templates/resources/graph_beta_device_management_android_device_owner_compliance_policy.md.tmpl
Due: unittests, acceptancetests

chore(deps): update licensing service plan reference data
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json
  internal/services/datasources/utility/licensing_service_plan_reference/data/licensing_service_plan_reference.json.old
Due: unittests, acceptancetests

chore: update Graph API permissions via automated pipeline
  internal/services/resources/identity_and_access/graph_beta/b2b_management_policy_assignment/resource.go
  templates/resources/graph_beta_identity_and_access_b2b_management_policy_assignment.md.tmpl
Due: unittests, acceptancetests

fix: resolve group policy definitions without presentations
  internal/services/common/resolvers/graph_beta/device_management/group_policy_configurations/resolver.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/mocks/responders.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/resource_test.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_catalog_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_definition_value_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_presentation_values_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_presentations_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_catalog_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_definition_value_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_presentation_values_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_presentations_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/terraform/unit/014_no_presentations.tf
Due: unittests, acceptancetests

fix: resolve group policy definitions without presentations (#4124)
  internal/services/common/resolvers/graph_beta/device_management/group_policy_configurations/resolver.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/mocks/responders.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/resource_test.go
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_catalog_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_definition_value_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_presentation_values_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_create/get_presentations_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_catalog_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_definition_value_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_presentation_values_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/responses/validate_read/get_presentations_no_presentations.json
  internal/services/resources/device_management/graph_beta/group_policy_definition/tests/terraform/unit/014_no_presentations.tf
Due: unittests, acceptancetests

deps: tidy
  go.sum
Due: none
