Repository deploymenttheory/terraform-provider-microsoft365: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, acceptancetests, provider-core, agents, applications, backup_storage, copilot, device_and_app_management, device_management, education, exchange_online, extensions, external_data_connections, files, financials, groups, identity_and_access, industry_data_etl, m365_admin, microsoft_teams, multitenant_management, people_and_workplace_intelligence, security, sites_and_lists, teamwork_and_communications, users, utility, windows_365

chore: enhance acceptance tests by adding time provider dependencies
  internal/services/resources/device_management/graph_beta/settings_catalog_configuration_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/settings_catalog_configuration_policy/tests/terraform/acceptance/resource_assignments.tf
  internal/services/resources/device_management/graph_beta/terms_and_conditions/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/terms_and_conditions/tests/terraform/acceptance/resource_maximal.tf
  internal/services/resources/device_management/graph_beta/terms_and_conditions/tests/terraform/acceptance/resource_maximal_assignment.tf
  internal/services/resources/device_management/graph_beta/terms_and_conditions/tests/terraform/acceptance/resource_minimal_to_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_driver_update_profile/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_driver_update_profile/tests/terraform/acceptance/resource_with_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/005_assignments_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/006_assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/007_assignments_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/007_assignments_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/008_assignments_lifecycle_maximal_to_minimal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_expedite_policy/tests/terraform/acceptance/008_assignments_lifecycle_maximal_to_minimal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_quality_update_policy/tests/terraform/acceptance/006_assignments_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_policy/tests/terraform/acceptance/007_assignments_lifecycle_minimal_to_maximal_step_1.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_policy/tests/terraform/acceptance/007_assignments_lifecycle_minimal_to_maximal_step_2.tf
  internal/services/resources/device_management/graph_beta/windows_quality_update_policy/tests/terraform/acceptance/008_assignments_lifecycle_maximal_to_minimal_step_1.tf
Due: none

fix: add AllowSystemGeneratedSetValues modifier for enhanced set management
  internal/services/common/plan_modifiers/set.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/groups/graph_beta/group/resource.go
  internal/services/resources/users/graph_beta/license_assignment/resource.go
Due: unittests, acceptancetests

fix: add GraphToFrameworkStringSetFiltered function for tag filtering
  internal/services/common/convert/graph_to_framework.go
  internal/services/common/plan_modifiers/set.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/applications/graph_beta/service_principal/state.go
Due: unittests, acceptancetests

chore: initital buuld out of new resource
  internal/services/resources/applications/graph_beta/on_premises_publishing/construct.go
  internal/services/resources/applications/graph_beta/on_premises_publishing/crud.go
  internal/services/resources/applications/graph_beta/on_premises_publishing/docs.md
  internal/services/resources/applications/graph_beta/on_premises_publishing/model.go
  internal/services/resources/applications/graph_beta/on_premises_publishing/resource.go
  internal/services/resources/applications/graph_beta/on_premises_publishing/state.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
Due: unittests, acceptancetests

Add ResourceWithIdentity interface to 5 conflicting files after main merge
  internal/services/resources/agents/graph_beta/agent_identity_blueprint/resource.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/resource.go
  internal/services/resources/applications/graph_beta/application/resource.go
  internal/services/resources/applications/graph_beta/service_principal/resource.go
  internal/services/resources/groups/graph_beta/group/resource.go
Due: unittests, acceptancetests

chore(w365): fix terraform import for microsoftmanageddesktop profile with null value
  internal/services/resources/windows_365/graph_beta/cloud_pc_provisioning_policy/resource.go
Due: unittests, acceptancetests

chore: fixed id miss matches
  internal/services/list-resources/device_management/graph_beta/settings_catalog_configuration_policy/list.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list.go
  internal/services/resources/applications/graph_beta/application_certificate_credential/crud.go
  internal/services/resources/applications/graph_beta/application_identifier_uri/crud.go
  internal/services/resources/applications/graph_beta/application_on_premises_publishing/crud.go
  internal/services/resources/applications/graph_beta/application_password_credential/crud.go
Due: unittests, acceptancetests

chore(deps): update terraform-plugin-sdk to v2.38.2
  go.mod
  go.sum
Due: none

chore: enhance documentation and validation for Conditional Access policies list resource
  docs/guides/batch_import_with_list_resource_and_terraform_generate.md
  docs/list-resources/graph_beta_identity_and_access_conditional_access_policy.md
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_all.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_by_display_name.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_combined_filters.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_disabled_only.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_enabled_only.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/list_report_only.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_and.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_complex.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_contains.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_exact_match.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_not.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_identity_and_access_conditional_access_policy/odata_or.tfquery.hcl
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/list_resource.go
  internal/services/list-resources/users/graph_beta/user/list_resource.go
  templates/list-resources/graph_beta_identity_and_access_conditional_access_policy.md.tmpl
Due: unittests, acceptancetests

feat: Added support for `microsoft365_graph_beta_device_management_windows_platform_script`
  docs/guides/batch_import_with_list_resource_and_terraform_generate.md
  docs/list-resources/graph_beta_device_management_windows_platform_script.md
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/filter_by_display_name.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/filter_by_run_as_account_system.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/filter_odata_complex.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/list_all.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/list_assigned_only.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/list_combined_filters.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/list_unassigned_only.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/list_with_assignment_filter.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/odata_and.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/odata_exact_match.tfquery.hcl
  examples/list-resources/microsoft365_graph_beta_device_management_windows_platform_script/odata_or.tfquery.hcl
  internal/provider/list_resources.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_acceptance_test.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_assignments.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_filters.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_pagination.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_resource.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_test.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/mocks/responders.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/model.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/responses/get_all_scripts_success.json
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/acceptance/list_resource_01_all.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/acceptance/list_resource_02_by_display_name.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/acceptance/list_resource_03_by_file_name.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/acceptance/list_resource_04_by_run_as_account.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/acceptance/list_resource_05_combined_filters.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/unit/list_resource_01_all.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/unit/list_resource_02_by_display_name.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/unit/list_resource_03_by_file_name.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/unit/list_resource_04_by_run_as_account.tfquery.hcl
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/tests/terraform/unit/list_resource_05_combined_filters.tfquery.hcl
  templates/guides/batch_import_with_list_resource_and_terraform_generate.md.tmpl
  templates/list-resources/graph_beta_device_management_windows_platform_script.md.tmpl
Due: unittests, acceptancetests, provider-core

chore: update Read methods to check for nil Identity before setting it
  internal/services/resources/agents/graph_beta/agent_collection/crud.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_certificate_credential/crud.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_identifier_uri/crud.go
  internal/services/resources/agents/graph_beta/agent_identity_blueprint_service_principal/crud.go
  internal/services/resources/agents/graph_beta/agent_instance/crud.go
  internal/services/resources/agents/graph_beta/agent_user/crud.go
  internal/services/resources/users/graph_beta/user/crud.go
  scripts/pipeline/bi_weekly_tests/run_tests.py
Due: unittests, acceptancetests

fix: All errors from external packages are now properly wrapped with context using fmt.Errorf with the %w verb, satisfying the wrapcheck linter requirements.
  internal/services/datasources/applications/graph_beta/application/mocks/responders.go
  internal/services/datasources/applications/graph_beta/service_principal/mocks/responders.go
  internal/services/datasources/device_and_app_management/graph_beta/application_category/mocks/responders.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/mocks/responders.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app/read.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app_catalog_package/mocks/responders.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app_catalog_package/read.go
  internal/services/datasources/device_and_app_management/graph_beta/mobile_app_relationship/mocks/responders.go
  internal/services/datasources/device_management/graph_beta/group_policy_value_reference/mocks/responders.go
  internal/services/datasources/device_management/graph_beta/managed_device/mocks/responders.go
  internal/services/datasources/device_management/graph_beta/managed_device/read.go
  internal/services/datasources/groups/graph_beta/group/mocks/responders.go
  internal/services/datasources/identity_and_access/graph_beta/conditional_access_template/mocks/responders.go
  internal/services/datasources/identity_and_access/graph_beta/role_definitions/mocks/responders.go
  internal/services/datasources/identity_and_access/graph_beta/role_definitions/read.go
  internal/services/datasources/identity_and_access/graph_beta/tenant_information/mocks/responders.go
  internal/services/datasources/utility/guid_list_sharder/mocks/responders.go
  internal/services/datasources/utility/microsoft_365_endpoint_reference/mocks/responders.go
  internal/services/datasources/windows_365/graph_beta/cloud_pc_device_image/read.go
  internal/services/datasources/windows_365/graph_beta/cloud_pcs/read.go
  internal/services/list-resources/device_management/graph_beta/settings_catalog_configuration_policy/list_assignments.go
  internal/services/list-resources/device_management/graph_beta/settings_catalog_configuration_policy/mocks/responders.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/list_assignments.go
  internal/services/list-resources/device_management/graph_beta/windows_platform_script/mocks/responders.go
  internal/services/list-resources/identity_and_access/graph_beta/conditional_access_policy/mocks/responders.go
  internal/services/list-resources/users/graph_beta/user/mocks/responders.go
Due: unittests, acceptancetests

chore: appeasing the linter
  internal/services/resources/device_management/graph_beta/linux_device_compliance_policy/crud.go
  internal/services/resources/device_management/graph_beta/linux_device_compliance_policy/state.go
  internal/services/resources/device_management/graph_beta/settings_catalog_configuration_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_identity/crud.go
  internal/services/resources/identity_and_access/graph_beta/named_location/crud.go
Due: unittests, acceptancetests

chore: comments
  internal/services/resources/device_management/graph_beta/linux_device_compliance_policy/state.go
Due: unittests, acceptancetests

feat: Enhance StateContainer to support Identity management
  internal/services/common/crud/read_with_retry.go
  internal/services/common/crud/read_with_retry_test.go
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_02_maximal.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_03_web_app.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_04_spa.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_05_public_client.tf
  internal/services/resources/applications/graph_beta/application/tests/terraform/acceptance/resource_06_multitenant.tf
Due: unittests, acceptancetests

chore(main): release 0.45.0-alpha
  CHANGELOG.md
Due: none

chore(deps): Remove outdated golang.org/x/mod and golang.org/x/text dependencies from go.sum
  go.sum
Due: none

fixed: correct account_type value descriptions in device preparation policy
  examples/resources/microsoft365_graph_beta_device_management_windows_autopilot_device_preparation_policy/resource.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_enhanced.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_hybrid_joined.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_self_deploying.tf
Due: unittests, acceptancetests

feat: Windows Autopilot Device Preparation Policy assignments to use standard shared model schema with type/group_id fields
  examples/resources/microsoft365_graph_beta_device_management_windows_autopilot_device_preparation_policy/resource.tf
  internal/services/common/schema/graph_beta/device_management/device_configuration_assignment.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/model.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state_assignments.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_enhanced.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_hybrid_joined.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_self_deploying.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/resource_windows_autopilot_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/resource_windows_autopilot_minimal.tf
Due: unittests, acceptancetests

generate the doc about graph_beta_device_management_windows_autopilot_device_preparation_policy
  docs/resources/graph_beta_device_management_windows_autopilot_device_preparation_policy.md
Due: none

fix: resolve err113 by centralizing construct errors in sentinels and reduce Autopilot settings builder complexity to satisfy gocyclo
  internal/services/common/errors/sentinels/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct_just_in_time_assignment.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/modify_plan.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state_assignments.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/validator.go
Due: unittests, acceptancetests

chore(deps): Update go.sum
  go.sum
Due: none

Fix: Use PUT instead of PATCH for windows_autopilot_device_preparation_policy updates to handle settings navigation property
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
Due: unittests, acceptancetests

refactor: Enhance Windows Autopilot Device Preparation Policy resource with improved logging and schema adjustments
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/constants.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct_assignments.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/construct_just_in_time_assignment.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/crud.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/mocks/responders.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/modify_plan.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_acceptance_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_docs/reqs.md
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_docs/setting_definitions.md
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/resource_test_helper.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/state.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/responses/validate_get/get_group_owners.json
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/003_scenario_user_driven_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/004_scenario_user_driven_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/005_scenario_user_driven_minimal_with_minimal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/006_scenario_user_driven_minimal_with_maximal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_enhanced.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_hybrid_joined.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/acceptance/autopilot_device_preparation_self_deploying.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/001_scenario_automatic_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/002_scenario_automatic_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/003_scenario_user_driven_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/004_scenario_user_driven_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/005_scenario_user_driven_minimal_with_minimal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/006_scenario_user_driven_minimal_with_maximal_assignments.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/resource_windows_autopilot_maximal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/tests/terraform/unit/resource_windows_autopilot_minimal.tf
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/validate.go
  internal/services/resources/device_management/graph_beta/windows_autopilot_device_preparation_policy/validator.go
  internal/services/resources/device_management/graph_beta/windows_backup_and_restore/construct.go
  scripts/powershell/device_management/Create-AutopilotDeviceProvisioningPolicy.ps1
Due: unittests, acceptancetests

chore(main): release 0.46.0-alpha
  CHANGELOG.md
Due: none

fix: standardised crud logic flow
  internal/services/resources/groups/graph_beta/group_app_role_assignment/crud.go
  internal/services/resources/groups/graph_beta/group_app_role_assignment/tests/terraform/acceptance/resource_minimal.tf
Due: unittests, acceptancetests

feat: Support az cli for client
  internal/client/client_credential_factory.go
  internal/provider/provider.go
  internal/provider/provider_acc_test.go
  internal/provider/provider_unit_test.go
Due: unittests, acceptancetests, provider-core

update docs about the az cli
  docs/development/entra_id_auth_responses.md
  docs/guides/azure_cli.md
  docs/index.md
  examples/provider/provider.tf
  templates/guides/azure_cli.md.tmpl
  templates/index.md.tmpl
Due: none

fix: Update Group resource CRUD methods to utilize new types package
  internal/services/resources/groups/graph_beta/group/crud.go
  internal/services/resources/groups/graph_beta/group/resource.go
  scripts/powershell/Get-GraphEndpointPermissions.ps1
  scripts/powershell/tools/output/FreeAndAvailableLicenses_20260119_223253.json
Due: unittests, acceptancetests

chore: building scripts for permission definitiond
  scripts/pipeline/bi_weekly_tests/generate_test_matrix.py
  scripts/pipeline/bi_weekly_tests/manage_job_failure_issues.py
  scripts/pipeline/permissions/get_graph_endpoint_permissions.py
  scripts/pipeline/permissions/get_utilised_graph_api_endpoints.py
  scripts/pipeline/permissions/update_graph_service_permissions.py
  scripts/powershell/tools/Get-GraphEndpointPermissionsV1.ps1
  scripts/powershell/tools/Get-GraphEndpointPermissionsV2.ps1
Due: none

chore: add update-graph-permissions CI pipeline and pip requirements
  .github/workflows/update-graph-permissions.yml
  scripts/pipeline/permissions/requirements.txt
Due: none

Path conditions:
  unittests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  acceptancetests: any of: internal/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  provider-core: any of: internal/client/, internal/helpers/, internal/provider/, internal/utilities/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  agents: any of: internal/services/*/agents/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  applications: any of: internal/services/*/applications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  backup_storage: any of: internal/services/*/backup_storage/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  copilot: any of: internal/services/*/copilot/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_and_app_management: any of: internal/services/*/device_and_app_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  device_management: any of: internal/services/*/device_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  education: any of: internal/services/*/education/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  exchange_online: any of: internal/services/*/exchange_online/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  extensions: any of: internal/services/*/extensions/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  external_data_connections: any of: internal/services/*/external_data_connections/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  files: any of: internal/services/*/files/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  financials: any of: internal/services/*/financials/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  groups: any of: internal/services/*/groups/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  identity_and_access: any of: internal/services/*/identity_and_access/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  industry_data_etl: any of: internal/services/*/industry_data_etl/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  m365_admin: any of: internal/services/*/m365_admin/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  microsoft_teams: any of: internal/services/*/microsoft_teams/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  multitenant_management: any of: internal/services/*/multitenant_management/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  people_and_workplace_intelligence: any of: internal/services/*/people_and_workplace_intelligence/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  security: any of: internal/services/*/security/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  sites_and_lists: any of: internal/services/*/sites_and_lists/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  teamwork_and_communications: any of: internal/services/*/teamwork_and_communications/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  users: any of: internal/services/*/users/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  utility: any of: internal/services/*/utility/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
  windows_365: any of: internal/services/*/windows_365/, but not: tools/, scripts/, examples/, docs/, templates/, **/*_test.go, **/testdata/**, **/mocks/**, **/tests/**, **/acceptance/**, **/_resource_template/**, **/*.stub, *.md, *.json, *.yml, *.yaml, go.mod, go.sum
